@model Ets.Model.DomainModel.Bussiness.BusinessDetailModel
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<link href="~/Content/tab.css" rel="stylesheet" />
<div style="width:1000px">
    <h2 class="crumbs">
        您所在位置：商户 > 商户管理 > 绑定骑士管理 > 添加骑士绑定
    </h2>
    <table class="tbstyle222" border="0" style="font-size:14px;font-weight:bold;line-height:300%;width:900px ">
        <tr class="trclass">
            <td>商铺名称：@Model.Name</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    @*<div class="SearchMd">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <input type="button" value="手动绑定" class="searchBtn" id="btnBindClienter" onclick="addClienterBind();" />
                </td>
                <td>&nbsp;</td>
                <td>
                    <input type="button" value="批量绑定" class="searchBtn" id="btnBindClienter" onclick="addClienterBatchBind();" />
                </td>
            </tr>
        </table>
    </div>*@
    <div class="page">
        <ul class="tab">
            <li id="tab_to_1" class="no"><a href="#" onclick="tab('tab',2,1)">手动绑定</a></li>
            <li id="tab_to_2" ><a href="#" onclick="tab('tab',2,2)">批量绑定</a></li>
        </ul>
    </div>

    @using (Ajax.BeginForm("GetClienterList", new RouteValueDictionary { { "pageindex", "" } },
    new AjaxOptions { UpdateTargetId = "dataList", InsertionMode = InsertionMode.Replace },
    new RouteValueDictionary { { "id", "searchForm" } }))
    {
        <div class="SearchMd">
            <span class="">骑士姓名: </span>
            <input id="clienterName" type="text" name="clienterName" />
            <span class="">骑士电话: </span>
            <input id="clienterPhone" type="text" name="clienterPhone" />
            <input type="button" value="搜 索" class="searchBtn" id="btnQueryClienter" />
            <input type="hidden" id="businessId" name="businessId" value="@Model.Id" />
        </div>
    }
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <div style="float:left;width:900px;padding-top:30px" class="control-group" id="dataList">
        @Html.Partial("_ClienterList", Model)
    </div>
</div>
<script type="text/javascript">
    $("#btnQueryClienter").click(function () {
        var clienterPhone = $("#clienterPhone").val();
        var clienterName = $("#clienterName").val();
        var reg = /^0?1\d{10}$/;
        if (clienterName.trim().length == 0 && clienterPhone.trim().length == 0) {
            alert("请输入骑士名称或骑士电话！");
            return;
        }
        if (!reg.test(clienterPhone) && clienterPhone.trim().length > 0) {
            alert("请输入正确的手机号!");
            return;
        }
        $("#searchForm").submit();
    });
    function addClienterBind() {
        var businessId = $('#businessId').val();
        window.location.href = "/BusinessManager/AddClienterBindManage?businessId=" + businessId;
    }
    //添加骑士绑定
    function addClienterBatchBind() {
        var businessId = $('#businessId').val();
        window.location.href = "/BusinessManager/ClienterBatchBind?businessId=" + businessId;
    }
    function tab(a, b, c) {
        for (i = 1; i <= b; i++) {
            if (c == i) {
                var businessId = $('#businessId').val();
                window.location.href = "/BusinessManager/ClienterBatchBind?businessId=" + businessId;


            }
            else {
                var businessId = $('#businessId').val();
                window.location.href = "/BusinessManager/AddClienterBindManage?businessId=" + businessId;

            }
        }
    }
</script>
<script src="~/Scripts/mvcpager.js"></script>









