@model ETS.Data.PageData.PageInfo<Ets.Model.DataModel.Bussiness.BusListResultModel>
@using Ets.Model.DomainModel.Bussiness;
@using Ets.Service.Provider.User
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<script src="~/Scripts/common/NewPager.js"></script>
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：商户 > 商户管理
    </h2>
    @using (Ajax.BeginForm("PostBusinessManager", new RouteValueDictionary { { "pageindex", "" } },
    new AjaxOptions { UpdateTargetId = "dataList", InsertionMode = InsertionMode.Replace },
    new RouteValueDictionary { { "id", "searchForm" } }))
    {
        <div class="SearchMd">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <span class="">商户名称: </span>
                        <input id="txtBusinessName" name="BusinessName" type="tel" />
                        <span class="">审核状态: </span>
                        <select name="status" class="selectw" id="businessStatus" style="width:143px">
                            <option value="-1" selected="selected">全部</option>
                            <option value="1">审核通过</option>
                            <option value="0">未审核</option>
                            <option value="2">未审核且未添加地址</option>
                            <option value="3">审核中</option>
                            <option value="4">审核被拒绝</option>
                        </select>
                        <span class="">商户电话: </span>
                        <input id="txtBusinessPhone" type="text" name="BusinessPhone" />
                        <span class="">结算比例: </span>
                        <input id="txtBusinessCommission" type="text" name="BusinessCommission" />
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="">筛选城市: </span>
                        @Html.DropDownList("businessCity", new SelectList(ViewBag.openCityList.Result.AreaModels, "Name", "Name"), "--无--", new { style = "width:155px" })
                        <input id="txtGroupId" type="hidden" value="@ViewBag.txtGroupId" name="GroupId" />
                        <input type="submit" value="查询" class="searchBtn" id="btnSearch" />
                    </td>
                </tr>
            </table>
        </div>
    }
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <div class="bd clearfix" id="dataList">
        @Html.Partial("_BusinessManageList", Model)
    </div>
</div>
@*结算比例弹窗*@
<div class="BusinessCommissionDish">
    <div class="add-openbox add-form" id="BusinessCommissionDiv" style="width:500px">
        <h2>
            <p id="statusFin">设置结算比例</p>
        </h2>
        <fieldset>
            <input type="hidden" id="busCommissionHid" value="0" />
            <div class="control-group">
                <label>商家</label>
                <input name="busCommissionName" id="busCommissionName" readonly="readonly" type="text">
            </div>
            <div class="control-group">
                <label>电话</label>
                <input name="busCommissionPhone" id="busCommissionPhone" readonly="readonly" type="text">
            </div>
            <div class="control-group">
                <label>结算比例</label>
                <input name="busCommissionText" id="busCommissionText" style="width: 45px;" type="text">%
            </div>
            <div class="control-group">
                <label>外送费</label>
                <input name="busCommissionWaiSong" id="busCommissionWaiSong" style="width: 200px;" type="text">
            </div>
        </fieldset>
        <p class="btnbox">
            <input value="确认" type="button" id="btnCommissionConfim" class="yesBtn" />
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>
@*弹出图片*@
<div class="selectCommonDish">
    <div class="add-openbox add-form" id="BusiPicShow" style="width:500px;height:300px">
        <h2>
            <p id="statusFins">查看图片</p>
        </h2>
        <form class="form-horizontal" role="form" id="BusiPicForm" method="post">
            <fieldset>
                <img id="showBusiImage" />
                <a id="showBigBusiImage" href="" target="_blank">查看大图</a>
            </fieldset>
            <p class="btnbox">
                <input value="关闭" type="button" class="J_closebox qxBtn" />
            </p>
        </form>
    </div>
</div>
@*修改商家信息弹窗*@
<div class="BusinessInfoUpdate">
    <div class="add-openbox add-form" id="BusinessInfoUpdateDiv" style="width:500px">
        <h2>
            <p id="statusFin">修改商家信息</p>
        </h2>
        <fieldset>
            <input type="hidden" id="busiId" value="0" />
            <div class="control-group">
                <label>商家名称：</label>
                <input name="busiName" id="busiName" type="text">
            </div>
            <div class="control-group">
                <label>联系电话：</label>
                <input name="busiPhone" id="busiPhone" type="text">
            </div>
            <div class="control-group">
                <label>绑定第三方ID：</label>
                <input name="busiSourceId" id="busiSourceId" type="text">
                @Html.DropDownList("busGroupId", new SelectList(new BusinessProvider().GetGroups(), "Id", "GroupName"), new { @class = "selectw", style = "width:100px" })
            </div>
        </fieldset>
        <p class="btnbox">
            <input value="确认" type="button" id="btnUpdateBusinessInfo" class="yesBtn" />
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>
<script>
    var adminjs = new adminglass(); //实例化后台类
    //var DEFAULT_PAGESIZE = 15;
    //var criteria = { PagingRequest: { PageIndex: 1, PageSize: DEFAULT_PAGESIZE } };
    $(document).ready(function () {
        window.location.hash = '';
        //查询
        //$("#btnSearch").on('click', function () {
        //    criteria = {
        //        BusinessName: $("#txtBusinessName").val(), //商户名称
        //        BusinessPhone: $("#txtBusinessPhone").val(),////商户电话
        //        BusinessCommission: $("#txtBusinessCommission").val(),////商户结算比例
        //        status: $("#businessStatus").val(),
        //        GroupId: $("#txtGroupId").val(),
        //        PagingRequest: { PageIndex: 1, PageSize: DEFAULT_PAGESIZE }
        //    };
        //    refresh(0);
        //});
    })
    ////分页
    //art.ui.control.NewPager.enablePaging(document, refresh);
    //function refresh(pageIndex) {
    //    var url = "/BusinessManager/BusinessManager";
    //    if (pageIndex !== undefined) {
    //        criteria.PagingRequest.PageIndex = pageIndex;
    //    }
    //    criteria.status = $("#businessStatus").val();
    //    webExpress.utility.ajax.request
    //        (
    //            url,
    //            criteria,
    //            function (data) {
    //                $("#dataList").html(data);
    //            });
    //};
    //设置结算比例-外送费
    $("#btnCommissionConfim").on('click', function () {
        var busCommissionHid = $("#busCommissionHid").val(); //商户id

        var busCommissionText = $("#busCommissionText").val(); ////商户结算比例
        var busCommissionWaiSong = $("#busCommissionWaiSong").val(); ////商户外送费
        if (isNaN(busCommissionText)) {
            alert("请输入正确的数字!");
            return;
        }
        if (busCommissionText < 0) {
            alert("请输入大于零的值!");
            return;
        }
        if (isNaN(busCommissionWaiSong)) {
            alert("请输入正确的数字!");
            return;
        }
        if (busCommissionWaiSong < 0) {
            alert("请输入大于零的值!");
            return;
        }
        var paramaters = { "id": busCommissionHid, "commission": busCommissionText, "waisongfei": busCommissionWaiSong };
        var url = "/BusinessManager/SetCommission";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    alert("设置成功!");
                    window.location.href = "/BusinessManager/BusinessManager";
                } else {
                    alert(result.Message);
                }
            }
        });
    });
    //修改商家信息
    $("#btnUpdateBusinessInfo").on('click', function () {
        var busiId = $("#busiId").val(); //商户id
        var busiName = $("#busiName").val(); //商户电话
        var busiPhone = $("#busiPhone").val(); //商户电话
        var busiSourceId = $("#busiSourceId").val(); //商户原平台Id
        var busGroupId = $("#busGroupId").val(); ////商户集团Id
        if (busiName.trim().length == 0) {
            alert("请输入商家名称!");
            return;
        }
        var reg = /^0?1\d{10}$/;
        if (!reg.test(busiPhone)) {
            alert("请输入正确的手机号!");
            return;
        } 
        if (isNaN(busiPhone) && busiPhone.length == 11) {
            alert("请输入正确的手机号!");
            return;
        }
        if (busiSourceId.trim().length == 0) {
            //alert("请输入商家第三方ID!");
            //return;
            busiSourceId = 0;
        }
        if (busGroupId <= 0) {
            //alert("请选择集团!");
            //return;
            busGroupId = 0;
        }
        var paramaters = { "id": busiId, "businessName": busiName, "businessPhone": busiPhone, "businessSourceId": busiSourceId, "groupId": busGroupId };
        var url = "/BusinessManager/ModifyBusiness";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    alert("修改成功!");
                    window.location.href = "/BusinessManager/BusinessManager";
                } else {
                    alert(result.Message);
                }
            }
        });
    });


    //关闭弹层
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
</script>
<script src="~/Scripts/mvcpager.js"></script>