@model Ets.Model.DomainModel.Bussiness.BusinessDetailModel
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
@using Ets.Model.DomainModel.Bussiness
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<script src="~/Scripts/ajaxfileupload.js"></script>
<link href="~/Content/tab.css" rel="stylesheet" />
<h2 class="crumbs">
    您所在位置：商户 > 商户管理 > 绑定骑士管理 > 添加骑士绑定
</h2>

<table class="tbstyle222" border="0" style="font-size:14px;font-weight:bold;line-height:300%;width:900px ">
    <tr class="trclass">
        <td>商铺名称：@Model.Name</td>
        <td><input type="hidden" id="businessId" name="businessId" value="@Model.Id" /></td>
        <td></td>
        <td></td>
    </tr>
</table>
@*<div class="SearchMd">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <input type="button" value="手动绑定" class="searchBtn" id="btnBindClienter" onclick="addClienterBind();" />
            </td>
            <td>&nbsp;</td>
            <td>
                <input type="button" value="批量绑定" class="searchBtn" id="btnBindClienter" onclick="addClienterBatchBind();" />
            </td>
        </tr>
    </table>
</div>*@
<div class="page">
    <ul class="tab">
        <li id="tab_to_1"><a href="#" onclick="tab('tab',2,1)">手动绑定</a></li>
        <li id="tab_to_2" class="no"><a href="#" onclick="tab('tab',2,2)">批量绑定</a></li>
    </ul>
</div>

@using (Html.BeginForm("ClienterBatchBind", "BusinessManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="SearchMd">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>

                <td>
                    <input id="file1" type="file" name="file1">                    
                </td>
                <td style="color: red;">
                    (导入必须为excel，字段：骑士姓名、手机号，每次最多导入50条数据)&nbsp;&nbsp;
                </td>             
                <td>         
                    <a href="/Content/Template/BatchImport.xls" target="_blank">下载模板</a>
                </td>
            </tr>
            <tr>
                <td><br /></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="导入" class="searchBtn" id="btnImport" />
                    <input type="button" value="保存绑定" class="searchBtn" id="btnSave" />
                </td>
            </tr>

        </table>

    </div>
}

<table border="0" cellspacing="0" cellpadding="0" class="tbstyle" width="900" id="tb1">
    <thead>
        <tr class="tdbg">
            <th>行号</th>
            <th>骑士姓名</th>
            <th>骑士手机号</th>
            <th>是否绑定</th>
            <th>状态</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>

<script type="text/javascript">
    var OverallS;
    //导入
    $("#btnImport").on('click', function () {

        var BusinessId = $('#businessId').val();        
        var url = "/BusinessManager/ClienterImport?BusinessId=" + BusinessId;
        $.ajaxFileUpload({
            type: 'POST',
            secureuri: false, //一般设置为false
            fileElementId: 'file1', //文件上传空间的id属性  <input type="file" id="file" name="file" />
            url: url,
            data: "", //此参数非常严谨，写错一个引号都不行
            success: function (data, status)  //服务器成功响应处理函数
            {               
                var json = eval("(" + data.body.innerText + ")");
                if (json.IsSuccess != undefined && !json.IsSuccess) {
                    alert(json.Message);
                    return;
                }          
                OverallS = json;
                $("#tbody").html("");
                for (var i = 0; i < json.length; i++) {
                    var isBindText, isEnableText, clienterRemarksText;
                    if (json[i].IsBind)
                    isBindText = " <input id='Checkbox1' name='"+i+"' type='checkbox' onchange='SetCheck(this)'   checked='checked' />"
                    else
                        isBindText = "";
                    if (json[i].IsEnable)
                        isEnableText = "成功"
                    else
                        isEnableText = "<font color='red'>失败</font>"

                    clienterRemarksText = "<font color='red'>"+json[i].ClienterRemarks+"</font>";

                    $("#tbody").append("<tr><td>" + json[i].RowCount
                        + "</td><td>" + json[i].ClienterName
                        + "</td><td>" + json[i].ClienterPhoneNo
                        + "</td><td>" + isBindText
                        + "</td><td>" + isEnableText
                        + "</td><td>" + clienterRemarksText
                        + "</td></tr>");             

                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(data);
            }

        });
    })
    function SetCheck(row)
    {
        if (row.checked=="true")
        {        
            OverallS[row.name].IsBind = true;           
        }
        else
        {                 
            OverallS[row.name].IsBind = false;        
        }        
          
    }
    //保存绑定
    $("#btnSave").on('click', function () {
        var businessId = $('#businessId').val();
        var paramaters = {
            "BusinessId": businessId,
            "OverallS": JSON.stringify(OverallS)
        };


        var url = "/BusinessManager/ClienterBatchSave";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    alert(result.Message);
                    window.location.href = "/BusinessManager/ClienterBindManage?businessId=" + businessId;
                } else {
                    alert(result.Message);
                }
            }
        });
    }
    )

    function addClienterBind() {
        var businessId = $('#businessId').val();        
        window.location.href = "/BusinessManager/AddClienterBindManage?businessId=" + businessId;
    }
    //添加骑士绑定
    function addClienterBatchBind() {
        var businessId = $('#businessId').val();
        window.location.href = "/BusinessManager/ClienterBatchBind?businessId=" + businessId;
    }

    function tab(a, b, c) {
        for (i = 1; i <= b; i++) {
            if (c == i) {          
                var businessId = $('#businessId').val();
                window.location.href = "/BusinessManager/ClienterBatchBind?businessId=" + businessId;
             
           
            }
            else {         
                var businessId = $('#businessId').val();
                window.location.href = "/BusinessManager/AddClienterBindManage?businessId=" + businessId;               
            
            }
        }
    }


</script>
