<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        //$.ajax({
        //    type: 'POST',
        //    dataType: 'json',
        //    url: '/BusinessAPI/NewPostPublishOrder_B',
        //    data: {
        //        OriginalOrderNo: "1155201502121730",
        //        IsPay: "true",
        //        OriginalBusinessId: "15",
        //        PubDate: "2015-02-12 12:12:12",
        //        Quantity: "10",
        //        Receive_Address: "尚8国际广告园",
        //        Receive_Area: "朝阳区",
        //        Receive_City: "北京市",
        //        Receive_Province: "北京市",
        //        ReceiveName: "王子龙",
        //        ReceivePhoneNo: "15652225526",
        //        Weight: "1.26",
        //        Amount: "26",
        //        OrderFrom :3
        //    },
        //    success: function (data) {
        //        console.log(data);
        //    },
        //    error: function () {

        //    }
        //});

        //$.ajax({
        //    type: 'POST',
        //    dataType: 'json',
        //    url: '/BusinessAPI/OrderCancel',
        //    data: {
        //        OriginalOrderNo: '201223213', OrderFrom: '15'
        //    },
        //    success: function (data) {
        //        console.log(data);
        //    },
        //    error: function () {

        //    }
        //});


        //$.ajax({
        //    type: 'POST',
        //    dataType: 'json',
        //    url: '/BusinessAPI/NewPostRegisterInfo_B',
        //    data: {
        //        B_Name: '可能你想来',
        //        B_OriginalBusiId: '11',
        //        B_GroupId: '2',
        //        PhoneNo: '15263252563',
        //        B_City: 1,
        //        B_CityCode: '1',
        //        B_ProvinceCode: '1',
        //        B_AreaCode: '1',
        //        Address:'dds'


        //    },
        //    success: function (data) {
        //        console.log(data);
        //    },
        //    error: function () {

        //    }
        //});
  
    }); 
</script>
<div class="row">
    <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
</div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
