<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    //$(function () {
    //    //alert(1);
    //    $.ajax({
    //        type: 'POST',
    //        dataType: 'json',
    //        url: '/BusinessAPI/NewPostPublishOrder_B',
    //        data: {
    //            //OriginalOrderNo: "1155201502121730",
    //            //IsPay: "true",
    //            //OriginalBusinessId: "168889",
    //            //PubDate: "2015-02-12 12:12:12",
    //            //Quantity: "10",
    //            //Receive_Address: "尚8国际广告园",
    //            //Receive_Area: "朝阳区",
    //            //Receive_City: "北京市",
    //            //Receive_Province: "北京市",
    //            //Receive_ProvinceCode: "102",
    //            //Receive_CityCode: "10201",
    //            //Receive_AreaCode: "1020105",
    //            //ReceiveName: "王子龙",
    //            //ReceivePhoneNo: "15652225526",
    //            //Weight: "1.26",
    //            //Amount: "26",
    //            //OrderFrom :1

    ////"OriginalOrderNo": "1040628995",
    ////                "OriginalBusinessId": 11858,
    ////                "PubDate": "2015-03-31T11:59:36.54",
    ////                "ReceiveName": "自动化测试",
    ////                "ReceivePhoneNo": "13693094634",
    ////                "IsPay": false,
    ////                "Amount": 39.3,
    ////                "Quantity": 1,
    ////                "Receive_Province": "北京市",
    ////                "Receive_City": "北京城区",
    ////                "Receive_Area": "朝阳区",
    ////                "Receive_ProvinceCode": "102",
    ////                "Receive_CityCode": "10201",
    ////                "Receive_AreaCode": "1020105",
    ////                "Receive_Address": "北京朝阳区北苑",
    ////                "OrderFrom": 1,
    ////                "OrderCommission": 0,
    ////                "DistribSubsidy": 6,
    ////                "WebsiteSubsidy": 0,
    ////                "Receive_Longitude": 0,
    ////                "Receive_Latitude": 0,
    ////                "Remark": null,
    ////                "Weight": 0,
    ////                "SongCanDate": "2015-03-31T13:30:00",
    ////                "OrderCount": 1

    //        },
    //        success: function (data) {
    //            console.log(data);
    //        },
    //        error: function () {

    //        }
    //    });
    //});

    //$(function () {
    //$.ajax({
    //    type: 'POST',
    //    dataType: 'json',
    //    url: '/BusinessAPI/PostLogin_B',
    //    data: {
    //        "phoneNo": "13811247642",
    //        "passWord": "123456"
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});

    //$.ajax({
    //    type: 'POST',
    //    dataType: 'json',
    //    url: '/BusinessAPI/PostPublishOrder_B',
    //    data: {
    //        "userId": 106,
    //        "ReceiveName": "窦海超",
    //        "ReceivePhoneNo": "13426401627",
    //        "Amount": 78.0000,
    //        "IsPay": false,
    //        "Remark": null,
    //        "OrderCount": 10,
    //        "OrderSign": "21313d"
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () { }
    //});

    //    }
    //});
    //});
    //$.ajax({
    //    type: 'get',
    //    dataType: 'json',
    //    url: '/ClienterAPI/GetMyBalanceDynamic',
    //    data: {
    //        "phoneNo": "13426401627",
    //        "pagedSize": 20,
    //        "pagedIndex": 1
    //    },
    //    success: function (data) {
    //        alert(data.MyIncomeName + "," + data.MyInComeAmount + "," + data.InsertTime);
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});

    //        }
    //    });
    //});
    //$.ajax({
    //    type: 'post',
    //    dataType: 'json',
    //    url: '/ClienterAPI/GetMyJobList_C',
    //    data: {
    //        "userId": 89,
    //        "longitude": 116.482619,
    //        "latitude": 39.914233,
    //        "isLatest": true,
    //        //"pageSize": 10,
    //        //"pageIndex": 1,
    //        "status": 2,
    //        "city": "北京市",
    //        "cityId": "1"
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //                "longitude": 0,
    //              "latitude": 0,
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});
    //$.ajax({
    //    type: 'post',
    //    dataType: 'json',
    //    url: '/ClienterAPI/GetMyJobList_C',
    //    data: {
    //        "userId": 30,
    //        "longitude": 116.482619,
    //        "latitude": 39.914233,
    //        "isLatest": true,
    //        //"pageSize": 10,
    //        //"pageIndex": 1,
    //        "status": 1,
    //        "city": "北京市",
    //        "cityId": "1"
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});

    //$.ajax({
    //    type: 'post',
    //    dataType: 'json',
    //    url: '/ClienterAPI/GetJobList_C',
    //    data: {
    //        "userId": 11,
    //        "longitude": 116.482619,
    //        "latitude": 39.914233,
    //        "isLatest": true,
    //        "pageSize": 10,
    //        "pageIndex": 1,
    //        "status": 1,
    //        "city": "北京市",
    //        "cityId": "1"
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});

    //$.ajax({
    //    type: 'get',
    //    dataType: 'json',
    //    url: '/BusinessAPI/GetOrderList_B?userId=30&pagedSize=10&pageIndex=1&Status=1',
    //    data: {
    //       m:Math.random()

    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {


    //$.ajax({
    //    type: 'post',
    //    dataType: 'json',
    //    url: '/ClienterAPI/GetJobList_C',
    //    data: {
    //        "userId": 11,
    //        "longitude": 116.482619,
    //        "latitude": 39.914233,
    //        "isLatest": true,
    //        "pageSize": 10,
    //        "pageIndex": 1,
    //        "status": 2,
    //        "city": "北京市",
    //        "cityId": "1"
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});


    //$.ajax({
    //    type: 'post',
    //    dataType: 'json',
    //    url: '/BusinessAPI/PostRegisterInfo_B',
    //    data: {
    //        city: "北京市", CityId: "1", phoneNo: "13426401627", passWord: "123456", verifyCode: "1234", GroupId: 0
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});

    //$.ajax({
    //    type: 'get',
    //    dataType: 'json',
    //    url: '/BusinessAPI/GetOrderList_B?userId=30&pagedSize=10&pageIndex=1&Status=1',
    //    data: {
    //       m:Math.random()

    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {


    //    }
    //});

    //$.ajax({
    //    type: 'get',
    //    dataType: 'json',
    //    url: '/ClienterAPI/GetJobListNoLoginLatest_C',
    //    data: {
    //        "userId": 11,
    //        "longitude": 116.482619,
    //        "latitude": 39.914233,
    //        "isLatest": true,
    //        "pageSize": 100,
    //        "pageIndex": 1,
    //        "status": 2,
    //        "city": "北京市",
    //        "cityId": "1"
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});

    //});
    //$.ajax({
    //    type: 'POST',
    //    dataType: 'json',
    //    url: '/BusinessAPI/NewOrderCancel',
    //    data: {
    //        OriginalOrderNo: '1036346493', OrderFrom: '1'
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});


    //$.ajax({
    //    type: 'POST',
    //    dataType: 'json',
    //    url: '/BusinessAPI/NewPostRegisterInfo_B',
    //    data: {
    //        B_Name: '可能你想来',
    //        B_OriginalBusiId: '11',
    //        B_GroupId: '2',
    //        PhoneNo: '15263252563',
    //        B_City: 1,
    //        B_CityCode: '1',
    //        B_ProvinceCode: '1',
    //        B_AreaCode: '1',
    //        Address:'dds'


    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});



    //$.ajax({
    //    type: 'POST',
    //    dataType: 'json',
    //    url: '/ClienterAPI/PostLogin_C',
    //    data: {
    //        phoneNo: '18810740024',
    //        passWord: '4EBFEE4020735B6D2FC8C9A6504A9676'
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {
    //    }
    //});

    //$.ajax({
    //    type: 'POST',
    //    dataType: 'json',
    //    url: 'http://localhost:9263/ClienterAPI/GetJobListSongCanTask_C',
    //    //url:'http://localhost:9263/ClienterAPI/GetJobListCanHeTask_C',
    //    data: {
    //        "userId": 77,
    //        "isLatest": true,
    //        "pageSize": 1,
    //        "pageIndex": 1,
    //        "city": "北京市",
    //        "cityId": "10201"
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {
    //    }
    //});


    /*
    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: '/ClienterAPI/PostRegisterInfo_C',
        data: {
            "phoneNo": "18101350417",
            "passWord": "123456",
            "city": "北京市",
            "cityId": "10201",
            "recommendPhone": "13426401627"
        },
        success: function (data) {
            console.log(data);
        },
        error: function () {
        }
    });
    */

    /*
    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: '/ClienterAPI/PostModifyPwd_C',
        data: {
            "phoneNo": "13426401627",
            "newPassword": "123456"

        },
        success: function (data) {
            console.log(data);
        },
        error: function () {
        }
    });
    */

    //$.ajax({
    //    type: 'POST',
    //    dataType: 'json',
    //    url: '/BusinessAPI/PostForgetPwd_B',
    //    data: {
    //        "phoneNumber": "13426401627",
    //        "password": "123456",
    //        "checkCode":"1234"

    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {
    //    }
    //});

    //$.ajax({
    //    type: 'POST',
    //    dataType: 'json',
    //    url: '/ClienterAPI/ChangeWorkStatus',
    //    data: {
    //        id:"1",
    //        "WorkStatus": "1"
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {
    //    }
    //});


    //});
    
    // $.ajax({
    //     type: 'POST',
    //    dataType: 'json',
    //    url: '/BusinessAPI/VoiceCheckCode',
    //    data: {
    //        "PhoneNumber": "15652662526",
    //        "Stype": "2",
    //        "Version":'1.0'
    //    },
    //    success: function (data) {
    //        console.log(data);
    //    },
    //    error: function () {

    //    }
    //});
    
 
     $.ajax({
        type: 'get',
        dataType: 'json',
        url: 'ClienterAPI/CheckCode',
        data: {
            "PhoneNumber": "15097444307",
            "type":"1"
        },
        success: function (data) {
            console.log(data);
        },
        error: function () {

        }
    });
    
    

</script>