@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>

<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：修改密码 
    </h2>

        <div class="SearchMd">
            <table border="0" cellspacing="0" cellpadding="0" style="width:1080px">
                <tr>
                    <td>
                        <span class="">旧密码: </span>
                        <input id="txtOldPwd" type="Password" /><span id="Tipoldpwd"><font color="red">旧密码错误!!!</font></span><br/><br />
                        <span class="">新密码: </span>
                        <input id="txtNewPwd" type="Password" /><br /><br />
                        <span class="">再次输入: </span>
                        <input id="txtReNewPwd" type="Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <font color="red">提示:</font> <br />新密码长度<font color="red">6-50位</font>,<font color="red">大写字母</font>或<font color="red">小写字母</font>,以及<font color="red">数字</font>构成的组合<br/>
                            密码有效期为30天
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="修改密码" class="searchBtn" id="btnSearch" />
                    </td>
                </tr>
            </table>
        </div>
</div>
<script type="text/javascript">
    var adminjs = new adminglass(); //实例化后台类
    var flag = false;
    $(document).ready(function () {
        $('#Tipoldpwd').hide();
        $('#btnSearch').click(function() {
            UpdatePwd();
        });
        $("#txtOldPwd").blur(function () {
            CheckOldPwd();
        });
    });
    //验证旧密码
    function CheckOldPwd() {
        var url = '/Account/PostCheckPassword';
        var pars = { oldpwd: $('#txtOldPwd').val() };
        $.ajax({
            type: 'POST',
            url: url,
            data: pars,
            success: function(result) {
                if (result== 1 || result == '1') {
                    flag = true;
                    $('#Tipoldpwd').hide();
                } else {
                    $('#Tipoldpwd').show();
                    flag = false;
                }
            }
        });
    }
    //修改密码
    function UpdatePwd() {
        var toldpwd = $('#txtOldPwd').val();
        var tnewpwd = $('#txtNewPwd').val();
        var trewpwd = $('#txtReNewPwd').val();
        if (flag == false) {
            return;
        }
        if (tnewpwd != trewpwd) {
            alert('两次输入密码不一致');
            return;
        }
        if (tnewpwd == toldpwd) {
            alert('新密码和旧密码不能相同');
            return;
        }
        if (tnewpwd.length < 6) {
            alert('新密码长度必须大于等于6位');
            return;
        }
        var reg = /^(?=.*[a-zA-Z])(?=.*[0-9]).{6,50}$/;
        if (!reg.test(tnewpwd)) {
            alert('新密码不符合密码策略!');
           //console.log(1);
        }
        var url = '/Account/PostChangePassword';
        var pars = {
            oldpwd: toldpwd,
            newpwd: tnewpwd
        };
      
        $.ajax({
            type: 'POST',
            url: url,
            data: pars,
            success: function(result) {
                if (result == 1 || result == '1') {
                    alert('密码修改成功!');
                   // alert(window.location.host + "/HomeCount/Index");
                    window.location.href ="/HomeCount/Index";
                } else {
                    alert('密码修改失败,请重试!');
                }
            }
        });
    }
</script>
<script src="~/Scripts/mvcpager.js"></script>
