@{    
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>管理后台</title>
    <link href="~/Content/fromwangying/header.css" rel="stylesheet" />
    <link href="~/Content/fromwangying/admin.css" rel="stylesheet" />
    <link href="~/Content/jquery.loadmask.css" rel="stylesheet" /> 
    <style>
        .error, .validation-summary-errors {
            color: red;
        }

        .loginBg .loginwin p .hidden {
            display: none;
        }

        .loginBg .loginwin .inp, .loginBg .loginwin .inp-yzm {
            color: initial;
        }
    </style>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
</head>
<body class="loginBg">
    <div class="wabPage loginwin">
        <div class=""><h1 style="font-size:44px;">管理后台</h1></div>  
            <p>
                <input type="text" value="" name="UserName" id="UserName" class="inp J_inp" placeholder="用户名" />
                <span class="wrongMsg hidden">请输入用户名</span>
            </p>
            <p>
                <input type="Password" name="Password" id="Password" class="inp J_inp" placeholder="密码" />
                <span class="wrongMsg hidden">请输入密码</span>
            </p>
            <p class="clearfix">
                <input type="text" name="Captcha" id="Captcha" class="inp-yzm" maxlength="4" placeholder="验证码" autocomplete="off" /><span class="yzm" style="width: 110px; height: 52px; margin-bottom: 10px"><img src="@Url.Action("CaptchaImage")" class="captcha" style="margin:10px" /></span>
                <span class="wrongMsg hidden">请输入验证码</span>
            </p> 
            <p>
                <input type="submit" name="btnSubmit" onclick="login();" value="登录" class="loginBtn J_loginBtn" />
            </p> 
        <div class="phone_copyright">           
            <p class="copyright">
                Copyright Reserved 2014-2015<br>
                北京易淘无限网络技术有限公司<br />
            </p>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script>
        function getCookie(objName) {//获取指定名称的cookie的值 
            var arrStr = document.cookie.split("; ");
            for (var i = 0; i < arrStr.length; i++) {
                var temp = arrStr[i].split("=");
                if (temp[0] == objName) return unescape(decodeURI(temp[1]));
            }
        };
        document.onkeydown = function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0]; 
            if (e && e.keyCode == 13) { // enter 键
                login();
            }
        };
        $(document).ready(function() {  
            $("img.captcha").click(function() {
                $(this).attr("src", $(this).attr("src") + "?a=" + new Date().getTime());
            });
            var cookies = getCookie('userinfo');
            if (cookies != null) {
                var user = eval('(' + cookies + ')');
                $("#UserName").val(user.LoginName);
                $("#Password").val(user.Password);
            }
        }); 
        function login() {
            
            var uname = $("#UserName").val();
            var Password = $("#Password").val();
            var Captcha = $("#Captcha").val();
            var pars = { "UserName": uname, "Password": Password, "Captcha": Captcha,"RememberMe":true};
            var url = "/Account/LoginOn";
            $.ajax({
                type: 'POST',
                url: url,
                data: pars,
                dataType: 'json',
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/HomeCount/Index/";
                    } else {
                        var mess = result.Message;
                        if (mess.indexOf("验证码") > -1) {
                            $("#Captcha").nextAll(".wrongMsg").removeClass("hidden").html(mess);
                        } else if (mess.indexOf("密码") > -1) {
                            $("#Password").nextAll(".wrongMsg").removeClass("hidden").html(mess);
                        } else if (mess.indexOf("用户") > -1) {
                            $("#UserName").nextAll(".wrongMsg").removeClass("hidden").html(mess);
                        } else if (mess.indexOf("帐号已关闭") > -1) {
                            alert("您的账号已被锁定");
                        } 
                    }
                }
            });
        }
    </script>
</body>
</html>








