<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SuperMan_Read" connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>
    <!--<add name="SuperMan_Write" connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>-->
    <!--<add name="SuperMan_Read" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>-->
    <add name="SuperMan_Write" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>
  </connectionStrings>
  <appSettings>
    <add key="StartClienterCrossShopLogTime" value="2"/>
    <add key="ClienterCrossShopLogDaysAgo" value="30"/>
    <!--正式redis
    <add key="Redis.ServerList" value="172.16.8.104:6379"/>-->
    <!--外网测试redis
    <add key="Redis.ServerList" value="172.16.8.123:6379"/>-->
    <!--本地redis-->
    <add key="Redis.ServerList" value="10.8.7.42:6379"/>
    <!--全局变量版本号-->
    <add key="GlobalVersion" value="20150402"/>
  </appSettings>
</configuration>