<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--万达第三方 Appkey和Appsecret-->
    <add key="WanDaAppkey" value="6e61eb575d2b22223551af81b2812ec2" />
    <add key="WanDaAppsecret" value="9ed652ad50274a24f4b648f0e7dad167" />
    <!--同步万达第三方集团订单状态 接口地址 add by caoheyang 20150326-->
    <add key="WanDaAsyncStatus" value="http://api.ffan.com/catering/v1/takeoutsync" />
    
    <!--全时第三方 Appkey和Appsecret-->
    <add key="FulltimeAppkey" value="fulltime" />
    <add key="FulltimeAppsecret" value="E7A1C84E8F47404FB8C1CDC1FA48A912" />
    <!--同步全时第三方集团订单状态 接口地址 add by caoheyang 20150326-->
    <add key="FulltimeAsyncStatus" value="http://weixin.ampm365.cn/api/eds" />
    
    <!--美团第三方 Appkey和Appsecret  测试环境-->
    <add key="MeiTuanAppkey" value="33" />
    <add key="MeiTuanAppsecret" value="01c33711a7c2e6cf2cc27d838e83006e" />
    <!--美团确认订单回调接口地址 -->
    <add key="MeiTuanConfirmAsyncStatus" value="http://test.waimaiopen.meituan.com/api/v1/order/confirm" />
    <!--美团取消订单回调接口地址 -->
    <add key="MeiTuanCancelAsyncStatus" value="http://test.waimaiopen.meituan.com/api/v1/order/cancel" />
    <!--美团订单配送中回调接口地址 -->
    <add key="MeiTuanDeliveringAsyncStatus" value="http://test.waimaiopen.meituan.com/api/v1/order/delivering" />
    <!--美团订单已送达（订单完成）回调接口地址 -->
    <add key="MeiTuanArrivedAsyncStatus" value="http://test.waimaiopen.meituan.com/api/v1/order/arrived" />
    <!--美团回调同步订单到E代送地址  -->
    <add key="MeiTuanPullOrderInfo" value="http://edsopenapi.yitaoyun.net/meituan/pullorderinfo" />
    
    <!--聚网客 Appkey和Appsecret-->
    <add key="JuWangKeAppkey" value="appkey_juwangke" />
    <add key="JuWangKeAppsecret" value="0B6B5679A433497A9F8C5D071278E1C4" />
    <!--聚网客 确认订单 状态回调接口地址 -->
    <add key="JuWangKeOrderAsyncStatus" value="http://10.8.8.60:3035/v1/api/EDaiSong/NotifyOrderStatus" />
   
    
    <!--当前采用的订单佣金计算规则  add by caoheyang 20150330  0默认 1 根据时间段计算佣金-->
    <add key="OrderCommissionType" value="0" />
    
    <!--正式redis
    <add key="Redis.ServerList" value="172.16.8.104:6379"/>-->
    <!--外网测试redis
    <add key="Redis.ServerList" value="172.16.8.123:6379"/>-->
    <!--测试组测试redis
    <add key="Redis.ServerList" value="10.8.8.55:6379"/>-->
    <!--本地redis-->
    <add key="Redis.ServerList" value="10.8.7.42:6379" />
  </appSettings>
  <connectionStrings>
    <add name="SuperMan_Read" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110" />
    <add name="SuperMan_Write" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110" />

    <!--<add name="SuperMan_Read" connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120 " />
    <add name="SuperMan_Write"  connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120 " />-->

  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
