@model SuperManCommonModel.Models.HomeCountManage
@{
    ViewBag.Title = "后台统计";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h3 style="color:black;font-weight:600">今日数据统计</h3>
<style type="text/css">
    .trclass {
       text-align:left;
       line-height:35px;
       padding:15px;
       width:auto;
       min-width:800px;
    }

    .trclass  td {
        padding-left:15px;
        width:225px;
    }
</style>
<div>
    @{
        var resultList = @ViewBag.homeCountTitleModel as Ets.Model.Common.HomeCountTitleModel;
        <p>
            <table class="tbstyle" width="1000" border="1">
                <tr class="trclass">
                    <td>
                        商家总数：@resultList.BusinessCount    <br />
                        认证骑士数量：@resultList.RzqsCount <br />
                        等待认证骑士：@resultList.DdrzqsCount  <br />
                    </td>
                    <td>
                        订单金额：@resultList.OrderPrice  <br />
                        任务量：@resultList.MisstionCount  <br />
                        订单量：@resultList.OrderCount <br />
                    </td>
                    <td>
                        商户平均发布订单：@resultList.BusinessAverageOrderCount  <br />
                        任务平均订单量：@resultList.MissionAverageOrderCount  <br />
                        骑士平均完成订单量：@resultList.ClienterAverageOrderCount <br />
                    </td>
                    <td>
                        商户结算金额（应收）：@resultList.YsPrice  <br />
                        骑士佣金总计（应付）：@resultList.YfPrice  <br />
                        盈亏总计：@resultList.YkPrice <br />
                    </td>
                </tr>
            </table>
        </p>
    }
</div>
<hr />
<h4 style="color:black;font-weight:600">订单统计</h4>
<select name="select" class="selectw" id="orderCountSelect" style="margin-bottom:5px; width:143px">
    <option value="1">今日</option>
    <option value="2">本周</option>
    <option value="3">本月</option>
</select>
<br />
<div class="bd clearfix" id="dataListOrder">
    @Html.Partial("_PartialOrderCount", Model.orderCountManageList)
</div>
<hr />
<h4 style="color:black;font-weight:600">超人统计</h4>
<select name="select" class="selectw" id="supermanCountSelect" style="margin-bottom:5px;width:143px">
    <option value="1">今日</option>
    <option value="2">本周</option>
    <option value="3">本月</option>
</select>
<div class="bd clearfix" id="dataListSuperMan">
    @Html.Partial("_PartialSuperManCount", Model.clientCountManagerList.clienterCountManageList)
</div>
<hr />
<h4 style="color:black;font-weight:600">商户统计</h4>
<select name="select" class="selectw" id="busiCountSelect" style="margin-bottom:5px;width:143px">
    <option value="1">今日</option>
    <option value="2">本周</option>
    <option value="3">本月</option>
</select>
<div class="bd clearfix" id="dataListBusi">
    @Html.Partial("_PartialBisuCount", Model.busiCountManagerList.businessCountManageList)
</div>

<script type="text/javascript">
    var DEFAULT_PAGESIZE = 15;
    var criteria = { PagingRequest: { PageIndex: 0, PageSize: DEFAULT_PAGESIZE } };
    $(function () {

        $("#supermanCountSelect").on("change", function () {
            var status = $("#supermanCountSelect").val();
            var url = "/HomeCount/supermanCount";
            refresh(0, url, status, "dataListSuperMan");
        });
        $("#busiCountSelect").on("change", function () {
            var status = $("#busiCountSelect").val();
            var url = "/HomeCount/busiCount";
            refresh(0, url, status, "dataListBusi");
        });
    });
    ////分页
    art.ui.control.Pager.enablePaging(document, refresh);
    function refresh(pageIndex, url, status, controlId) {

        if (pageIndex !== undefined) {
            criteria.PagingRequest.PageIndex = pageIndex;
        }
        criteria.searchType = status;
        webExpress.utility.ajax.request
            (
                url,
                criteria,
                function (data) {
                    $("#" + controlId).html(data);
                });
    };
</script>
