USE [superman]
GO
/****** Object:  Table [dbo].[PublicBankCity]    Script Date: 07/14/2015 20:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicBankCity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[parentid] [int] NULL,
	[IsPublic] [tinyint] NULL,
	[JiBie] [int] NULL,
 CONSTRAINT [PK_PublicCityPay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'代码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PublicBankCity', @level2type=N'COLUMN',@level2name=N'code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PublicBankCity', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PublicBankCity', @level2type=N'COLUMN',@level2name=N'parentid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'省市区基础表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PublicBankCity'
GO
SET IDENTITY_INSERT [dbo].[PublicBankCity] ON
INSERT [dbo].[PublicBankCity] ([id], [code], [name], [parentid], [IsPublic], [JiBie]) VALUES (1, 32, N'香港 ', 0, 1, 1)
INSERT [dbo].[PublicBankCity] ([id], [code], [name], [parentid], [IsPublic], [JiBie]) VALUES (2, 33, N'澳门 ', 0, 1, 1)
INSERT [dbo].[PublicBankCity] ([id], [code], [name], [parentid], [IsPublic], [JiBie]) VALUES (3, 34, N'台湾　 ', 0, 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[PublicBankCity] OFF
/****** Object:  Default [DF_PublicCityPay_JiBie]    Script Date: 07/14/2015 20:01:07 ******/
ALTER TABLE [dbo].[PublicBankCity] ADD  CONSTRAINT [DF_PublicCityPay_JiBie]  DEFAULT ((0)) FOR [JiBie]
GO
