@using ETS.Enums
@using ETS.Extension
@model ETS.Data.PageData.PageInfo<Ets.Model.DomainModel.Finance.ClienterWithdrawFormModel>
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：财务管理 > 骑士提现管理
    </h2>
    @using (Ajax.BeginForm("PostClienterWithdraw", new RouteValueDictionary { { "pageindex", "" } },
    new AjaxOptions { UpdateTargetId = "dataList", InsertionMode = InsertionMode.Replace },
    new RouteValueDictionary { { "id", "searchForm" } }))
    {
        <div class="SearchMd">
            <table border="0" cellspacing="0" cellpadding="0" style="width:1080px">
                <tr>
                    <td>
                        <span class="">骑士姓名: </span>
                        <input id="clienterName" type="text" name="clienterName" />
                        <span class="">骑士电话: </span>
                        <input id="clienterPhoneNo" type="tel" name="clienterPhoneNo" />
                        <span class="">审核状态: </span>
                        @Html.DropDownList("withdrawStatus", new SelectList(EnumExtenstion.GetEnumItems(typeof(ClienterWithdrawFormStatus)), "Value", "Text"), "全部", new { @class = "selectw", style = "width:157px" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="">提款单号: </span>
                        <input id="withwardNo" type="text" name="withwardNo" />
                        <span class="">申请提款日期: </span>
                        <input id="withdrawDateStart" readonly="readonly" type="text" name="withdrawDateStart" style="width:164px"/>
                        <span class="">到: </span>
                        <input id="withdrawDateEnd" readonly="readonly" type="text" name="withdrawDateEnd" style="width:164px" />
                        <input type="submit" value="查询" class="searchBtn" id="btnSearch" />
                        <input type="button" value="导出" onclick="return funExport()" class="searchBtn" id="btnExport" />
                        <input type="button" value="批量审核通过" onclick="return funBatchAuditPass()" class="searchBtn" id="btnBatchAuditPass" />
                        <span id="tip"></span>
                    </td>
                </tr>
            </table>
        </div>
    }
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <div class="bd clearfix" id="dataList">
        @Html.Partial("_ClienterWithdrawList", Model)
    </div>
</div>

<script type="text/javascript">
    var adminjs = new adminglass();
    $(document).ready(function () {
        $('#withdrawDateStart').datepicker();
        $('#withdrawDateEnd').datepicker();
        window.location.hash = '';
        $("#checkAll").change(function () {
            $('input[type="checkbox"][name="checkItem"]').each(function (index, obj) {
                if (!obj.disabled && obj.value != "") {
                    if ($("#checkAll").attr("checked") == "checked") {
                        $(obj).attr("checked", "checked");
                    }
                    else {
                        $(obj).removeAttr("checked");
                    }
                }
            });
        });
    });
    function funExport() {
        var clienterName = $("#clienterName").val();
        var clienterPhoneNo = $("#clienterPhoneNo").val();
        var withdrawStatus = $("#withdrawStatus").val();
        var withwardNo = $("#withwardNo").val();
        var withdrawDateStart = $("#withdrawDateStart").val();
        var withdrawDateEnd = $("#withdrawDateEnd").val();
        if (withdrawDateStart == "" || withdrawDateEnd == "") {
            alert("请输入时间范围!");
            return;
        }
        var url = "/ClienterWithdraw/ExportClienterWithdrawForm?clienterName=" + clienterName + "&clienterPhoneNo=" + clienterPhoneNo + "&withdrawStatus=" + withdrawStatus + "&withwardNo=" + withwardNo + "&withdrawDateStart=" + withdrawDateStart + "&withdrawDateEnd=" + withdrawDateEnd;
        window.location.href = url;
        return true;
    }
    function funBatchAuditPass() {
        var ids = "";
        $('input[type="checkbox"][name="checkItem"]:checked').each(function (index, obj) {
            if (!obj.disabled) {
                ids += (obj.value + "," + $(obj).attr("orderno") + "#");
            }
        });
        if (ids == "") {
            alert("请选择要审核的记录");
            return;
        }
        ids = ids.substring(0, ids.length - 1);

        alert(ids);
        if (!window.confirm("确认要提交审核？")) {
            return;
        }
        $("#tip").html("正在审核...");
        var paramaters = { "withwardIds": ids };
        var url = "/ClienterWithdraw/BatchWithdrawAuditOk";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                $("#tip").html("");
                alert(result.Message);
                window.location.href = "/ClienterWithdraw/ClienterWithdraw";
            }
        });
    }
</script>
<script src="~/Scripts/mvcpager.js"></script>
