@{
    ViewBag.Title = "登录";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>登录 - E代送管理后台</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                @*<h1 class="logo-name">E代送</h1>*@
                @*<img width="300px" src="~/img/logo.jpg" />*@
            </div>
            <h3>E代送管理系统</h3>
            <p>
                快递乐乐地使用吧
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>
            @*<p>Login in. To see it in action.</p>*@
            <form class="m-t" role="form" action="">
                <div class="form-group">
                    <input name="UserName" id="UserName" type="text" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input name="Password" id="Password" type="password" class="form-control" placeholder="密码" required="">
                </div>
                @*<div class="form-group">
                    <input type="text" name="Captcha" id="Captcha" placeholder="验证码">
                    <span class="yzm" style="width: 110px; height: 52px; margin-bottom: 10px">
                        <img src="@Url.Action("CaptchaImage")" class="captcha" style="margin:10px" />
                    </span>
                </div>*@
                @*<p class="clearfix">
                    <input type="text" name="Captcha" id="Captcha" class="inp-yzm" maxlength="4" placeholder="验证码" autocomplete="off" />
                    <span class="yzm" style="width: 110px; height: 52px; margin-bottom: 10px">
                        <img src="@Url.Action("CaptchaImage")" class="captcha" style="margin:10px" />
                    </span>
                </p>*@ 
                <button type="submit" id="btnLogin" class="btn btn-primary block full-width m-b">登录</button>

                @*<a href="#"><small>Forgot password?</small></a>*@
                @*<p class="text-muted text-center"><small>Do not have an account?</small></p>*@
                @*<a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>*@
            </form>
            <p class="m-t"> <small>Copyright Reserved 2014-2015<br>
                北京易淘无限网络技术有限公司<br /></small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        function getCookie(objName) {//获取指定名称的cookie的值 
            var arrStr = document.cookie.split("; ");
            for (var i = 0; i < arrStr.length; i++) {
                var temp = arrStr[i].split("=");
                if (temp[0] == objName) return unescape(temp[1]);
            }
        };
        document.onkeydown = function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) { // enter 键
                login();
            }
        };
        $(document).ready(function () {
            //$("img.captcha").click(function () {
            //    $(this).attr("src", $(this).attr("src") + "?a=" + new Date().getTime());
            //});
            var cookies = getCookie('userinfo');
            if (cookies != null) {
                var user = eval('(' + cookies + ')');
                $("#UserName").val(user.LoginName);
                $("#Password").val(user.Password);
            }

            $("#btnLogin").bind("click", login);
        });
        function login() {

            var uname = $("#UserName").val();
            var Password = $("#Password").val();
            //var Captcha = $("#Captcha").val();
            var pars = { "UserName": uname, "Password": Password, "Captcha": '', "RememberMe": true };
            var url = "/api/login";
            $.ajax({
                type: 'POST',
                url: url,
                data: pars,
                dataType: 'json',
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/home/index";
                    } else {
                        var mess = result.Message;
                        if (mess.indexOf("验证码") > -1) {
                            $("#Captcha").nextAll(".wrongMsg").removeClass("hidden").html(mess);
                        } else if (mess.indexOf("密码") > -1) {
                            $("#Password").nextAll(".wrongMsg").removeClass("hidden").html(mess);
                        } else if (mess.indexOf("用户") > -1) {
                            $("#UserName").nextAll(".wrongMsg").removeClass("hidden").html(mess);
                        } else if (mess.indexOf("帐号已关闭") > -1) {
                            alert("您的账号已被锁定");
                        }
                    }
                }
            });
        }
    </script>
</body>
</html>
