<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="supermanEntities" connectionString="metadata=res://*/SuperManDb.csdl|res://*/SuperManDb.ssdl|res://*/SuperManDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.8.7.41;initial catalog=superman;persist security info=True;user id=sa;password=110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SuperManWebApi-20141208102431.mdf;Initial Catalog=aspnet-SuperManWebApi-20141208102431;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SuperMan_Read" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110;Pooling=true;Max Pool Size=600;Connection Timeout=120" />
    <add name="SuperMan_Write" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110;Pooling=true;Max Pool Size=600;Connection Timeout=120" />

    <!--<add name="SuperMan_Read" connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120 " />
    <add name="SuperMan_Write"  connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120 " />-->
    <!--外测-->
    <!--<add name="SuperMan_Read" connectionString="Data Source=59.151.43.221;Initial Catalog=superman;uid=superman_user;pwd=B57FECE9x24B1x42;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>
    <add name="SuperMan_Write" connectionString="Data Source=59.151.43.221;Initial Catalog=superman;uid=superman_user;pwd=B57FECE9x24B1x42;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>-->
    <!--<add name="SuperMan_Read" connectionString="Data Source=10.128.100.143;Initial Catalog=superman;uid=read_douhaichao;pwd=CE9D6AC4xD562x4F;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>
    <add name="SuperMan_Write" connectionString="Data Source=10.128.100.143;Initial Catalog=superman;uid=read_douhaichao;pwd=CE9D6AC4xD562x4F;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>-->
  </connectionStrings>
  <appSettings>
    <add key="CacheType" value="LocalCache" />
    <!--图片上传地址-->
    <add key="WebApiAddress" value="http://10.8.7.40:7178" />
    <!--图片上传文件夹-->
    <add key="FileUploadPath" value="D:\MyWeb\supermanapi" />
    <add key="FileUploadFolderNameArtwork" value="Artwork" />
    <add key="FileUploadFolderNameArtworkType" value="ArtworkType" />
    <add key="FileUploadFolderNameGallery" value="Gallery" />
    <add key="FileUploadFolderNameAd" value="Ad" />
    <add key="FileUploadFolderNameTemp" value="Temp" />
    <add key="FileUploadFolderNameCustomerIcon" value="CustomerIcon" />
    <!--小票上传目录-->
    <add key="FileReceiptUpload" value="Receipt" />
    <add key="SmsContentCheckCode" value="短信验证码：{0}（{1}手机动态码，请完成注册），如非本人操作，请忽略本短信。" />
    <add key="SmsContentCheckCodeFindPwd" value="短信验证码：{0}（{1}手机动态码，请完成修改密码），如非本人操作，请忽略本短信。" />
    <add key="SmsContentPassword" value="您的密码已经重置为：{0}，感谢您的使用！" />
    <add key="SmsContentCheckCodeVoice" value="您好，欢迎注册易代送，您的验证码为：{0}，如非本人操作，请忽略本短信。" />
    <add key="SmsContentCheckCodeFindPwdVoice" value="您好,易代送提醒您，您的验证码为：{0}，如非本人操作，请忽略本短信。" />
    <!--发送邮件配置 账户密码-->
    <add key="EmailFromAddress" value="wang.xudan@etaostars.com" />
    <add key="EmailFromPwd" value="MTk5MDEyMDJ3eGQ=" />
    <!--邮件接收人,多个收件人用 英文分号 分隔-->
    <add key="EmailToAddress" value="wang.chao@etaostars.com" />
    <!--是否发送邮件 开发环境配置false,线上环境配置true-->
    <add key="IsSendMail" value="false" />

    <!--是否根据集团推送订单-->
    <add key="IsGroupPush" value="false" />
    <!--图片上传服务地址-->
    <add key="ImgUploadService" value="" />
    <add key="BusiSettlementRatio" value="10" />
    <!--开通城市版本号-->
    <add key="ApiVersion" value="20150402" />
    <!--与第三方同步订单状态 内网 add by caoheyang 20150327-->
    <add key="AsyncStatus" value="http://10.8.7.40:8080/order/AsyncStatus" />
    <!--与第三方同步订单状态 预上线 add by caoheyang 20150327-->
    <add key="AsyncStatus" value="http://edsopenapi.yitaoyun.net/order/AsyncStatus" />

    <!--当前采用的订单佣金计算规则  add by caoheyang 20150330  0默认 1 根据时间段计算佣金 2 保本计算方式-->
    <add key="OrderCommissionType" value="1" />
    <!--正式redis
    <add key="Redis.ServerList" value="172.16.8.104:6379"/>-->
    <!--外网测试redis
    <add key="Redis.ServerList" value="172.16.8.123:6379"/>-->
    <!--测试组测试redis-->
    <add key="Redis.ServerList" value="10.8.8.55:6379" />
    <!--本地redis-->
    <!--<add key="Redis.ServerList" value="10.8.7.42:6379" />-->
    <!-- JPush专属通道-->
    <!--0不发送给VIP,1发送-->
    <add key="IsSendVIP" value="0" />
    <add key="VIPName" value="VIPName" />
    <!--全局变量版本号-->
    <add key="GlobalVersion" value="20150520" />
    <add key="OrderCancelReasons" value="缺少菜品，无法出餐;后厨太忙，无法出餐;餐厅未营业，无法出餐" />

    <!--alipay支付-->
    <add key="NotifyUrl" value="http://pay153.yitaoyun.net:8011/pay/Notify" />
    <add key="ReturnUrl" value="http://pay153.yitaoyun.net:8011/pay/ReturnAlipay" />

    <!--微信支付-->
    <add key="WXNotifyUrl" value="http://pay153.yitaoyun.net:8011/pay/ReturnWxpay" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/error.html" />
    <!--发布生产时需要将该属性设置为On-->
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <!--<modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://service.etaoshi.com/sms.asmx" binding="basicHttpBinding" bindingConfiguration="SmsSoap" contract="SMSServiceReference.SmsSoap" name="SmsSoap" />
    </client>
  </system.serviceModel>
</configuration>