@charset "UTF-8";
html {
  background:#e8eaf1;
  color:#1c2831;
  font-size:18px;
}
body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, figure, form, fieldset, legend, input, textarea, button, p, blockquote, th, td, pre, xmp {
  margin:0;
  padding:0;
}
body, input, textarea, button, select, pre, tt, code, kbd, samp, optgroup, option {
  line-height:;
  font-family:;
}
table {
  border-spacing:0;
  text-align:left;
}
caption, th { text-align:inherit; }
ul, ol, menu { list-style:none; }
fieldset, img { border:none; }
img, object, input, textarea, button, select { vertical-align:top; }
article, aside, footer, header, section, nav, figure, figcaption, hgroup, details, menu { display:block; }
audio, canvas, video { display:inline-block; }
h1, h2, h3, h4, h5, h6, input, textarea, button, select, small { font-size:100%; }
address, cite, dfn, em, i, optgroup, var { font-weight:normal; }
blockquote:before, blockquote:after, q:before, q:after { content:''; }
textarea {
  overflow:auto;
  resize:none;
}
textarea, input { outline:none; }
mark { background-color:; }
ins, s, u, del { text-decoration:none; }
a {
  color:#1c2831;
  text-decoration:none;
  outline:none;
}
a:hover {
  color:#006699;
  text-decoration:none;
}
button { border:0 none; }
button {
  background-color:#f5f5f5;
  color:#d5d5d5;
  min-width:112px;
  height:34px;
}
input[disabled] {
  background:;
  color:;
}
input[submit] { border:none; }
input::-moz-placeholder, textarea::-moz-placeholder { color:; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color:; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:; }
::-ms-reveal { display:none; }
:focus { -moz-outline-style:none; }
button::-moz-focus-inner { border:none; }
button:focus { outline-style:none; }
.recomm i { cursor:pointer; }
.hidden, .m-hide { display:none; }
html, body ,#eds{ height:100%; }
body { min-width:1100px; }
#hd, #bd, #ft { position:relative; }
#hd {
  z-index:4;
  height:70px;
  padding:5px 0;
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  background-color:#ffffff;
}
#bd {
  min-height:100%;
  margin:-80px auto -100px;
}
#bd-inner {
  min-height:100%;
  padding:80px 0 100px;
  margin:0 auto;
}
#ft {
  z-index:3;
  width:100%;
  height:100px;
  overflow:hidden;
  background-color:#f3f3f3;
}
.header {
  width:1100px;
  min-width:960px;
  margin:0 auto;
  background-color: #fdfdfd;
}
.header .logo {
  float:left;
  width:180px;
  height:62px;
  background:url("../img/logo.png") no-repeat;
  text-indent:-999px;
/*  margin-top:15px;
*/}
.nav{
  float:right;
  font-size:16px;
}
.nav li{
  float:left;
  padding:0 10px;
}
.nav li a{
  display:block;
  height:72px;
  line-height:72px;
  padding:0 10px;
}
.nav li a:hover,.nav li a.on{
  color:#006699;
  border-bottom:3px solid #006699;
}
.section1{
  background-color:#e8eaf1;
}
.slider{
  position:relative;
  width:100%;
  height:570px;
  margin:0 auto;
  overflow:hidden;
}
.slider li{
  height:100%;
}
.slider .s1{
  background:url(../img/s1-bg.jpg) no-repeat center top;
  text-align:center;
  padding-top:45px;
}
.slider .s2{
  background:url(../img/s2-bg.jpg) no-repeat center top;
  text-align:center;
  padding-top:45px;
}
.slider li .img{
  width:819px;
  height:476px;
  position: relative;
  left:50%;
  margin-left: -405px;
  *left:0;
  *margin-left:0;
}
.slider li .img a{
  display:block;
  width:224px;
  height:64px;
  position: absolute;
  left:0;
  bottom:87px;
}
.slidesjs-pagination{
  position:absolute;
  bottom:20px;
  width:100%;
  z-index:999;
  text-align:center;
}
.slidesjs-pagination li{
  display:inline-block;
  *display:inline;
}
.slidesjs-pagination a{
  display:inline-block;
  *display:inline;
  width:8px;
  height:8px;
  border-radius:4px;
  background-color: #c2c3c8;
  margin:0 10px;
  text-indent: -99px;
  overflow:hidden;
}
.slidesjs-pagination a:hover,.slidesjs-pagination a.active{
  background-color: #006699;
}
.section2{
  text-align: center;
  background-color:#006699;
}
.section3{
  position:relative;
  text-align: center;
  background-color:#031447;
}
.section3 .code{
  position:absolute;
  top:200px;
  left:50%;
  margin-left:-260px;
}
.section3 .code ul{
  text-align:center;
  overflow:hidden;
  clear: both;
}
.section3 .code li{
  float: left;
  margin:0 40px;
}
.section3 .code h5{
  color:#19e2ef;
  font-weight:300;
  margin-bottom:10px;
}
.section3 .code p{
  color:#fff;
  margin-top:10px;
}
.section3 .code .intro{
  margin-top: 50px;
}
.section3 .code .intro p{
  color:#19e2ef;
  font-size:18px;
}
.section3 .code .intro .tips{
  font-size:14px;
}

.footer {
  width:1100px;
  min-width:960px;
  margin:0 auto;
}
.footer .phone {
  float:left;
  color:#006699;
  font-size:18px;
  line-height:100px;
  vertical-align:middle;
}
.footer .phone .i-phone{
  display:inline-block;
  _display:inline;
  width:36px;
  height: 36px;
  vertical-align: middle;
  margin-right:10px;
  background: url(../img/phone.jpg) no-repeat;
}
.copyright{
  float: right;
  text-align:right;
  padding:25px;
  color:#666;
  font-size:12px;
  line-height:2;
}
/*关于*/
.index_cent{
  width:100%;
  background:#e8eaf1;
}
.index_cent .cent_gy{
  width:780px;
  margin:0 auto;
}
.index_cent .cent_gy p{
  padding:25px 0px;
  font-size:14px;
  line-height:28px;
  text-indent:2em;
}
.index_cent .cent_gy p strong{
  font-style: italic;
  font-size:30px;
  padding-right:8px;
  color:#006699;
}
/*骑士css*/
.index_one{
  width:100%;
  height:570px;
  background:url(../images/banner.jpg) #e8eaf1 center center no-repeat;
}
.one_cent{
  width:1066px;
  margin:0 auto;
  padding-top:140px;
}
.one_cent p{
  margin-left:80px;
}
.one_down{
  margin-top:40px;
}
.index_two{
  width:100%;
  background:#006699;
  padding-bottom:65px;
}
.two_cent{
  width:1066px;
  margin:0 auto;
  padding-top:90px;
}
.two_left{
  float:left;
  width:287px;
  margin-left:60px;
}
.two_right{
  float:left;
  width:600px;
  padding-left:50px;
  padding-bottom:30px;
  margin-left:50px;
  color:#fff;
  border-left:1px solid #2179a5;
}
.two_right h3{
  font-size:24px;
}
.two_right dl{
  float:left;
  margin-top:35px;
}
.two_right dl dt{
  width:23px;
  height:21px;
  margin-top:2px;
  text-align:center;
  line-height:18px;
  margin-right:8px;
  background:url(../images/banner_6.png) no-repeat;
}
.two_right dl dd{
  width:540px;
  line-height:24px;
}
/*商户css*/
.index_one{
  width:100%;
  height:570px;
  background:url(../images/banner_two.jpg) #e8eaf1 center center no-repeat;
}
.one_cent{
  width:1066px;
  margin:0 auto;
  padding-top:140px;
}
.one_cent p{
  margin-left:80px;
}
.one_down{
  margin-top:40px;
}
.index_two{
  width:100%;
  background:#031447;
  padding-bottom:65px;
}
.two_cent{
  width:1066px;
  margin:0 auto;
  padding-top:90px;
}
.two_left{
  float:left;
  width:287px;
  margin-left:60px;
}
.two_right{
  float:left;
  width:600px;
  padding-left:50px;
  padding-bottom:30px;
  margin-left:50px;
  color:#fff;
  border-left:1px solid #2179a5;
}
.two_right h3{
  font-size:24px;
  margin-top:35px;
}
.two_right dl{
  float:left;
  font-size:16px;
  margin-top:35px;
}
.two_right dl dt{
  width:23px;
  height:21px;
  margin-top:2px;
  text-align:center;
  line-height:18px;
  margin-right:8px;
  background:url(../images/banner_6.png) no-repeat;
}
.two_right dl dd{
  width:540px;
  margin-top:8px;
  line-height:28px;
}
.two_right dl p{
  color:#19e2ef;
  line-height:24px;
}
