<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <connectionStrings>
    <!--<add name="SuperMan_Read" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110;Pooling=true;Max Pool Size=600;Connection Timeout=120" />
    <add name="SuperMan_Write" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110;Pooling=true;Max Pool Size=600;Connection Timeout=120" />-->
    <add name="SuperMan_Read" connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120 " />
    <add name="SuperMan_Write" connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120 " />
    <!--<add name="SuperMan_Read" connectionString="Data Source=10.128.100.143;Initial Catalog=superman;uid=read_douhaichao;pwd=CE9D6AC4xD562x4F;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>
    <add name="SuperMan_Write" connectionString="Data Source=10.128.100.143;Initial Catalog=superman;uid=read_douhaichao;pwd=CE9D6AC4xD562x4F;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>-->
  </connectionStrings>
  <appSettings>
    <!--发送邮件配置 账户密码-->
    <!--<add key="EmailSendTo" value="edsdev@etaostars.com"/>-->
    <add key="EmailSendTo" value="wang.xudan@etaostars.com;"/>
    <add key="CopyTo" value="wang.xudan@etaostars.com"/>
    <add key="EmailFromAddress" value="dessys@etaostars.com" />
    <add key="EmailFromPwd" value="RWRzc3lzMTIz" />
    <add key="OverTimeHour" value="24"/>
    <!--正式redis-->
    <!--<add key="Redis.ServerList" value="172.16.8.104:6379"/>-->
    <!--外网测试redis
    <add key="Redis.ServerList" value="172.16.8.123:6379"/>-->
    <!--测试组测试redis-->
    <!--<add key="Redis.ServerList" value="10.8.8.55:6379" />-->
    <!--本地redis-->
    <add key="Redis.ServerList" value="10.8.7.42:6379" />
  </appSettings>
</configuration>