

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>易淘食</title>
    <meta charset="UTF-8">
    <!--wap站mata标签-->
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=yes" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        div {
            padding: 0 10px;
        }

        img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div><img src="/Content/images/c.png" /></div>
</body>
</html>
