<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>易代送 | 专注外卖同城极速配送服务</title>
<meta name="description" content="易代送专为外卖订餐平台提供外卖订单同城极速配送的物流服务；通过下载易代送APP（e代送），即可移动端查看附近外卖订单、抢单、取餐，完成外卖配送服务；下载易代送商家APP（e代送商家版）,为商家提供外卖订单管理和物流实时信息状态！" />
<meta name="keywords" content="易代送，易代送APP,易代送抢单，易代送外卖，e代送，外卖配送，外卖同城配送" />
<link rel="canonical" href="http://www.edaisong.com/" />
<link href="~/Content/index.css" rel="stylesheet" type="text/css" />
</head> 
    <body>
       <!--页头html开始-->
	<div class="index_top">
		<div class="top_center">
			<div class="center_left">
                <a href="http://www.edaisong.com" title="e代送-外卖配送APP"><img src="~/Images/logo.png" alt="e代送" /></a>
			</div>
			<div class="center_right">
				<p>010-65936581（北京）</p>
				<p>021-65936581（上海）</p>
			</div>
		</div>
	</div>
	<!--页头html结束-->
        @RenderBody()
      <!--页脚html开始-->
	<div class="footer">
	    @*<p><a href="http://www.etaoshi.com/etaostars/index.html" target="_blank" rel="nofollow">关于我们</a><a href="http://www.etaoshi.com/etaostars/business.html" target="_blank" rel="nofollow">加盟易淘食</a><a href="http://www.etaoshi.com/home/questions" target="_blank" rel="nofollow">常见问题</a><a href="http://www.etaoshi.com/home/FriendLink" target="_blank">友情链接</a></p>*@      
        <p>京ICP备15014116号-1 Copyright © 2011-2015 <a href="http://www.edaisong.com">易代送</a>网络科技（北京）有限公司, All rights reserved.</a></a></p>
	</div>
        <!--页脚html结束--> 
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F639c39ad0ff63e9458edb640151bb7e8' type='text/javascript'%3E%3C/script%3E"));
</script>
    </body>
</html>
