<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>E代送 | 专注外卖同城即时配送服务</title>
    <meta name="description" content="E代送专为外卖订餐平台提供外卖同城即时配送的物流服务；通过下载E代送配送版APP:查看附近外卖订单、抢单、取餐配送，即可完成外卖订餐的配送服务；下载E代送商家版APP,更为商家提供省时省力又放心的专业外卖物流服务！" />
    <meta name="keywords" content="E代送，E代送APP,E代送抢单，E代送外卖，外卖送餐，外卖网上订餐，外卖同城配送" />
    <link rel="canonical" href="http://www.edaisong.com/" />
</head>
<body>
    <!--页头html开始-->
    @RenderBody()
</body>
</html>
