<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>e代送</title>
<link href="~/Content/index.css" rel="stylesheet" type="text/css" />
</head> 
    <body>
       <!--页头html开始-->
	<div class="index_top">
		<div class="top_center">
			<div class="center_left">
				<a href="/"><img alt="易代送" src="~/Images/logo.png" /></a>
			</div>
			<div class="center_right">
				<p>010-65936581（北京）</p>
				<p>021-65936581（上海）</p>
			</div>
		</div>
	</div>
	<!--页头html结束-->
        @RenderBody()
      <!--页脚html开始-->
	<div class="footer">
		<p><a href="http://www.etaoshi.com/etaostars/index.html" target="_blank" rel="nofollow">关于我们</a><a href="http://www.etaoshi.com/etaostars/business.html" target="_blank" rel="nofollow">加盟易淘食</a><a href="http://www.etaoshi.com/home/questions" target="_blank" rel="nofollow">常见问题</a><a href="http://www.etaoshi.com/home/FriendLink" target="_blank">友情链接</a></p>
		<p>Copyright © 2011-2015 易淘星空网络科技（北京）有限公司, All rights reserved.</p>
	</div>
	<!--页脚html结束--> 
    </body>
</html>
