<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings> 
    <add name="SuperMan_Read" connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120 " />
    <add name="SuperMan_Write" connectionString="Data Source=10.8.8.56;Initial Catalog=superman;uid=etaoshi_master;pwd=Tr1iV8Q7sY005;Pooling=true;Max Pool Size=600;Connection Timeout=120 " />

    <!--<add name="SuperMan_Read" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110;Pooling=true;Max Pool Size=600;Connection Timeout=120" />
    <add name="SuperMan_Write" connectionString="Data Source=10.8.7.41;Initial Catalog=superman;uid=sa;pwd=110;Pooling=true;Max Pool Size=600;Connection Timeout=120" />-->

    <!--外测-->
    <!--<add name="SuperMan_Read" connectionString="Data Source=59.151.43.221;Initial Catalog=superman_20150522;uid=superman_user;pwd=B57FECE9x24B1x42;Pooling=true;Max Pool Size=600;Connection Timeout=120" />
    <add name="SuperMan_Write" connectionString="Data Source=59.151.43.221;Initial Catalog=superman_20150522;uid=superman_user;pwd=B57FECE9x24B1x42;Pooling=true;Max Pool Size=600;Connection Timeout=120" />-->

  </connectionStrings>
  <appSettings>
    <add key="StartTime" value="2015-5-24"/>
  </appSettings>
</configuration>