<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets >
    <target name="colouredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
    layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target name="debugger" xsi:type="Debugger" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} [${machinename}]  - - ${message} ${exception:format=ToString,StackTrace}"/>
    <!--<target name="prodFile" xsi:type="File"
    layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} [${machinename}]  - - ${message} ${exception:format=ToString,StackTrace}"
    fileName="${basedir}/logs/${processname}-production.log" keepFileOpen="false" encoding="Utf-8" />-->
    <target name="prodFile" xsi:type="File"
layout="${longdate} ${callsite} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} [${machinename}] - - ${message} ${exception:format=ToString,StackTrace}"
fileName="${basedir}/logs/SuperMan_$.txt" keepFileOpen="false" encoding="Utf-8" />
    <target name="debugfile" xsi:type="File"
 layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} [${machinename}] - - ${message} ${exception:format=ToString,StackTrace}"
 fileName="${basedir}/logs/SuperMan_debug_${shortdate}.txt" keepFileOpen="false" encoding="Utf-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="trace" writeTo="colouredConsole" />
    <!--<logger name="*" minlevel="trace" maxlevel="debug" writeTo="debugfile" />-->
    <logger name="*" minlevel="info" maxlevel="Fatal" writeTo="prodFile" />
    <logger name="*" minlevel="info" maxlevel="Fatal" writeTo="debugger" />
  </rules>
</nlog>