USE [superman]
GO
/****** Object:  Table [dbo].[PublicProvinceCity]    Script Date: 11/19/2015 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicProvinceCity](
	[code] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[parentid] [int] NULL,
	[IsPublic] [tinyint] NOT NULL,
	[JiBie] [int] NULL,
 CONSTRAINT [PK_PublicProvinceCityNew] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'代码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PublicProvinceCity', @level2type=N'COLUMN',@level2name=N'code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PublicProvinceCity', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PublicProvinceCity', @level2type=N'COLUMN',@level2name=N'parentid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'城市是否开放0不开放,1开放' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PublicProvinceCity', @level2type=N'COLUMN',@level2name=N'IsPublic'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'省市区基础表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PublicProvinceCity'
GO
INSERT [dbo].[PublicProvinceCity] ([code], [name], [parentid], [IsPublic], [JiBie]) VALUES (1, N'中国', 0, 1, 1)
INSERT [dbo].[PublicProvinceCity] ([code], [name], [parentid], [IsPublic], [JiBie]) VALUES (2, N'阿富汗', 0, 1, 1)
INSERT [dbo].[PublicProvinceCity] ([code], [name], [parentid], [IsPublic], [JiBie]) VALUES (3, N'奥兰群岛', 0, 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
GO
print 'Processed 4400 total records'
/****** Object:  Default [DF__PublicPro__IsPub__40857097]    Script Date: 11/19/2015 11:49:52 ******/
ALTER TABLE [dbo].[PublicProvinceCity] ADD  DEFAULT ((0)) FOR [IsPublic]
GO
/****** Object:  Default [DF_PublicProvinceCityNew_JiBie]    Script Date: 11/19/2015 11:49:52 ******/
ALTER TABLE [dbo].[PublicProvinceCity] ADD  CONSTRAINT [DF_PublicProvinceCityNew_JiBie]  DEFAULT ((0)) FOR [JiBie]
GO
