@model Ets.Model.Common.ClienterCountManageList
@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "骑士统计";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：数据统计 > 骑士统计
    </h2>
    <div class="SearchMd" style="width:1000px">
        <h4 style="color:black;font-weight:600">骑士统计</h4>
        <select name="searchType" class="selectw" id="supermanCountSelect" style="margin-bottom:5px;width:143px">
            <option value="1">今日</option>
            <option value="2">本周</option>
            <option value="3">本月</option>
        </select>

        <div class="bd clearfix" id="dataList">
            @Html.Partial("_PartialSuperManStatistical", Model)
        </div>
    </div>
    <hr />
</div>
<script type="text/javascript">
    var DEFAULT_PAGESIZE = 15;
    var criteria = { PagingRequest: { PageIndex: 0, PageSize: DEFAULT_PAGESIZE } };
    $(function () {

        $("#supermanCountSelect").on("change", function () {
            var status = $("#supermanCountSelect").val();
            var url = "/SuperManStatistical/SuperManStatistical";
            refresh(0, url, status, "dataList");
        });
    });
    ////分页
    art.ui.control.Pager.enablePaging(document, refresh);
    function refresh(pageIndex, url, status, controlId) {

        if (pageIndex !== undefined) {
            criteria.PagingRequest.PageIndex = pageIndex;
        }
        criteria.searchType = status;
        webExpress.utility.ajax.request
            (
                url,
                criteria,
                function (data) {
                    $("#dataList").html(data);
                });
    };
</script>
