<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="1-北京仓" value="1002901305;JUGPKgkmsbyqv47ItdxeVTriNSuwMY"/>
    <add key="5-天津仓" value="1142501000;5g6WpvmYt2aHERJeNIGscSK7bxkUwq"/>
    <!--<add key="5-天津仓" value="3597439901;a2WUR8YTB5btVSfkNuFnC7QPXvsHpG"/>-->
    <add key="1-北京仓_测试" value="1998855009;123456a"/>
    <add key="5-天津仓_测试" value="300147140911;YF8kZEcmIifjuSM5RJqN7hGBt26yCx"/>
  </appSettings>
</configuration>