<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--<add key="1-北京仓" value="JXW,e1Xc1gW04zBJ3HjL"/>
    <add key="2-广州仓" value="JXW,e1Xc1gW04zBJ3HjL"/>
    <add key="3-上海仓" value="JXW,e1Xc1gW04zBJ3HjL"/>
    <add key="4-武汉仓" value="JXW,e1Xc1gW04zBJ3HjL"/>
    <add key="5-天津仓" value="JXW,e1Xc1gW04zBJ3HjL"/>-->
    <add key="1-北京仓" value="jxwdzsw,A0EdBuAMd7iD0aCWSZqQqBOnfzoDOFKK"/>
    <add key="2-广州仓" value="jxwdzsw,A0EdBuAMd7iD0aCWSZqQqBOnfzoDOFKK"/>
    <add key="3-上海仓" value="jxwdzsw,A0EdBuAMd7iD0aCWSZqQqBOnfzoDOFKK"/>
    <add key="4-武汉仓" value="jxwdzsw,A0EdBuAMd7iD0aCWSZqQqBOnfzoDOFKK"/>
    <add key="5-天津仓" value="jxwdzsw,A0EdBuAMd7iD0aCWSZqQqBOnfzoDOFKK"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CommonServiceServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bsp-oisp.sf-express.com/bsp-oisp/ws/expressService"
        binding="basicHttpBinding" bindingConfiguration="CommonServiceServiceSoapBinding"
        contract="ShunFengPushPack.IService" name="CommonServicePort" />
    </client>
  </system.serviceModel>
</configuration>