<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="1" value="北京仓,北京,北京市,朝阳区,十八里店乡横街子村张家店340号"/>
    <add key="2" value="广州仓,广东省,广州市,黄埔区,状元谷护林路1199号"/>
    <add key="3" value="上海仓,上海,上海市,嘉定区,沪宜公路5688弄111号"/>
    <add key="4" value="武汉仓,湖北省,武汉市,汉阳区,龙阳大道新华工业区酒仙网库房"/>
    <add key="5" value="天津仓,天津,天津市,武清区,崔黄口镇地毯产业园宏发道北侧一号"/>
    <add key="6" value="成都仓,四川省,成都市,双流县,西航港街道通关路86号内的仓储用房"/>
    <add key="7" value="太原仓,山西省,太原市,,新民中街55号"/>
  </appSettings>
</configuration>