@model ETS.Data.PageData.PageInfo<Ets.Model.DomainModel.Business.BusinessCommissionModel>
 @{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
 } 
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>

<script type="text/javascript" src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet">
<script src="~/Scripts/jquery-ui.min.js"></script>
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：商户 > 商户结算
    </h2>
    
        @using (Ajax.BeginForm("PostBusinessCommissions", new RouteValueDictionary { { "pageindex", "" } },
            new AjaxOptions { UpdateTargetId = "dataList", InsertionMode = InsertionMode.Replace },
            new RouteValueDictionary { { "id", "searchForm" } }))
        {
            <div class="SearchMd">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <span class="">商户名称: </span>
                            <input id="name" name="name" type="text" />
                            <span class="">商户电话: </span>
                            <input id="phoneNo" name="phoneNo" type="tel" />
                            <span class="">开始时间: </span>
                            <input id="t1" name="t1" readonly="readonly" type="text" />
                            <span class="">到: </span>
                            <input id="t2" name="t2" readonly="readonly" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="">筛选城市: </span>
                            @*@Html.DropDownList("BusinessCity", new SelectList(ViewBag.openCityList.Result.AreaModels, "Name", "Name", ViewBag.BusinessCity), "--无--", new { style = "width:155px" })*@
                            <input id="businessCity" name="businessCity" type="text">
                            <input type="button" value="查询" class="searchBtn" id="btnSearch" />
                            <input type="hidden" id="txtGroupId" name="txtGroupId" value="@ViewBag.txtGroupId">
                            <input type="button" onclick="DaoCHu();" value="导出" class="searchBtn" id="btnDaochu" />
                        </td>
                    </tr>
                </table>
            </div>
        } 
    
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <div class="bd clearfix" id="dataList">
        @Html.Partial("_BusinessCommissionList", Model)
    </div>
</div>
<script>
    $(document).ready(function() {
        //查询
        $('#t1').datepicker();
        $('#t2').datepicker();
        $("#btnSearch").on('click', function() {
            var startDate = $('#t1').val();
            var endDate = $('#t2').val();
            if (startDate=="" ) {
                alert("请输入开始时间!");
                return ;
            }
            if (endDate == "" ) {
                alert("请输入结束时间!");
                return ;
            }
            var start = new Date(startDate);
            var end = new Date(endDate);
            if (end < start) {
                alert("开始日期不能大于结束日期");
                return ;
            }
            $("#btnSearch").submit();
        });
    });
    function DaoCHu() {
        var txtBusinessName = $("#name").val();
        var txtDateStart = $("#t1").val();
        var txtDateEnd = $("#t2").val();
        var txtGroupId = $("#txtGroupId").val();
        //var BusinessCity = $("#BusinessCity").find("option:selected").text();
        var BusinessCity = $("#businessCity").val();
        if (txtDateStart == "") {
            alert("请输入开始时间!");
            return;
        }
        if (txtDateEnd == "") {
            alert("请输入结束时间!");
            return;
        }
        var startDate = new Date(txtDateStart);
        var endDate = new Date(txtDateEnd);
        if (startDate > endDate) {
            alert("开始日期不能大于结束日期");
            return;
        }
        var url = "/BusinessCommission/CreateCommissionsExcel?txtBusinessName=" + txtBusinessName + "&txtGroupId=" + txtGroupId + "&txtDateStart=" + txtDateStart + "&txtDateEnd=" + txtDateEnd + "&BusinessCity=" + BusinessCity;
        window.location.href = url;
    }
    //function DataDaoCHu(id,name,amount,count,commission,t1,t2,total) {
    //    var url = "/BusinessCommission/CreateBusinessCommissionsExcel?id=" + id + "&name=" + name + "&amount=" + amount + "&ordercount=" + count + "&BusinessCommission=" + commission + "&TotalAmount=" + total + "&T1=" + t1 + "&T2=" + t2;
    //    window.location.href = url;
    //}

    $("#businessCity").autocomplete(
           {
               source: function (request, response) {

                   $.ajax({
                       url: "/Public/GetCity?cityName=" + encodeURI(encodeURI(request.term)),
                       //dataType: "json",
                       data: {
                           top: 10,
                           key: request.term
                       },
                       success: function (data) {
                           testJson = $.parseJSON(data);
                           response($.map(testJson.citylist, function (item) {
                               return { label: item.city, value: item.city }
                           }));
                       }
                   });
               },
               select: function (event, ui) {
               },
               minLength: 1,
               autoFocus: false,
               delay: 500
           });
</script>
<script src="~/Scripts/mvcpager.js"></script>