@model Ets.Model.DomainModel.Business.BusinessDetailModel
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<script src="~/Scripts/ajaxfileupload.js"></script>
<link href="~/Content/tab.css" rel="stylesheet" />
<div style="width:1000px">
    <h2 class="crumbs">
        您所在位置：物流公司管理 > 物流公司列表 >  批量导入骑士
    </h2>
    <table style="font-size:14px;font-weight:bold;line-height:300%;width:900px ">
        <tr class="trclass">
            <td><span style="font-size: 25px;">物流公司名称:</span><span style="font-size: 25px;">如风达</span></td>
        </tr>
    </table>
    @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="SearchMd">
            <div style="margin-bottom: 10px;">
                <input id="file1" type="file" name="file1"><span style="color: red">(导入必须为excel，字段：骑士姓名、手机号、城市、身份证号 ，每次最多导入50条数据)</span>
                <a href="/Content/Template/物流公司批量导入配送员.xls" target="_blank">下载模板</a>
            </div>
            <div>
                <input type="button" value="上传" class="searchBtn" id="btnImport" />
                <input type="button" value="确认导入骑士" class="searchBtn" id="btnSave" />
            </div>
        </div>
    }
</div>

<div id="bodys"></div>
<script type="text/javascript">
    //上传
    $("#btnImport").on('click', function () {
        var url = "/DeliveryCompany/BatchImportClienterExcel?companyId=1";
        $.ajaxFileUpload({
            type: 'POST',
            secureuri: false, //一般设置为false
            fileElementId: 'file1', //文件上传空间的id属性  <input type="file" id="file" name="file" />
            url: url,
            data: "", //此参数非常严谨，写错一个引号都不行
            dataType: 'HTML',
            success: function (data, status)  //服务器成功响应处理函数
            {
                $("#bodys").html(data);
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(data);
            }
        });
    });

    //确认导入骑士
    $("#btnSave").on('click', function () {
        if ($("#_jsondata").val() == undefined) {
            alert("请先上传有效配送员信息！");
        } else {
            $.ajax({
                type: 'POST',
                url: "/deliveryCompany/DoBatchImportClienter?companyId=1",
                data: {datas: $("#_jsondata").val()} ,
                success: function (data) {
       
                    alert(data.Result);

                }
            });
        }
    }
    );
</script>




