@model Ets.Model.DomainModel.Business.BusinessDetailModel
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<link href="~/Content/tab.css" rel="stylesheet" />
<div style="width:1000px">
    <h2 class="crumbs">
        您所在位置：物流公司管理 > 物流公司列表 >  批量绑定骑士
    </h2>
    <table   style="font-size:14px;font-weight:bold;line-height:300%;width:900px ">
        <tr class="trclass">
            <td><span style="font-size: 25px;">物流公司名称:</span><span style="font-size: 25px;">如风达</span></td>
        </tr>
    </table>
   

</div>
<script type="text/javascript">
   
</script>
<script src="~/Scripts/mvcpager.js"></script>









