<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="SystemName" value="【推送服务本机】"/>
    <add key="MailFrom" value="notifications@cheyipai.com"/>
    <add key="MailHost" value="mail.cheyipai.com"/>
    <add key="MailPort" value="25"/>
    <add key="MailUserName" value="notifications@cheyipai.com"/>
    <add key="MailPassword" value="df268vnotification"/>
    <!-- 系统异常发邮件设置，多个邮件地址英文逗号分隔-->
    <add key="MailTo" value="tangchuanfeng@cheyipai.com,ruhuaxiao@cheyipai.com"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="false">
    </compilation>
    <authentication mode="Windows"/>
  </system.web>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" archiveEvery="Day"
              fileName="${basedir}\App_Data\${date:format=yyyy-MM-dd}.txt"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss\:fff}] ${message} ${exception}" maxArchiveFiles="7"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
</configuration>