<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskPlatform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <legacyUnhandledExceptionPolicy enable="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="IpcServerPortName" value="TaskPlatform" />
    <!--报警系统默认收件地址-->
    <add key="DefaultEmailAddressForAlertSystem" value="wang.xudan@etaostars.com" />
    <!--报警系统内置收件地址-->
    <add key="InternalEmailAddressForAlertSystem" value="wang.xudan@etaostars.com" />
    <add key="MonitoringIsEnabled" value="true" />
    <add key="TaskPlatformMailPassword" value="TaskPlat@form" />
    <!--SMSAlertPriority(0或更小值不开启短信警报1只对未运行发警报2执行失败同时也有取消会发警报3执行失败就发警报4或更大值执行取消也发警报)-->
    <add key="SMSAlertPriority" value="0" />
    <add key="ReceiveMobiles" value="" />
    <add key="SMSKey" value="erpworkerwarn" />
    <add key="SMSSignature" value="【e代送】" />
    <!--分配拣货位后消息队列地址-->
    <add key="MSMQPath_WaitExpressCenterExecute_1_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\WaitExpressCenterExecute_1" />
    <add key="MSMQPath_WaitExpressCenterExecute_2_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\WaitExpressCenterExecute_2" />
    <!--消息分发到不同的物流公司队列地址-->
    <add key="MSMQPath_ExpressAllocationCode-3_2_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\ExpressAllocationCode-3_2" />
    <add key="MSMQPath_ExpressAllocationCode-3_1_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\ExpressAllocationCode-3_1" />
    <add key="MSMQPath_ExpressAllocationCode-2_1_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\ExpressAllocationCode-2_1" />
    <add key="MSMQPath_ExpressAllocationCode-2_2_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\ExpressAllocationCode-2_2" />
    <add key="MSMQPath_ExpressAllocationCode-12_1_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\ExpressAllocationCode-12_1" />
    <add key="MSMQPath_ExpressAllocationCode-12_2_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\ExpressAllocationCode-12_2" />
    <!--报警消息队列地址-->
    <add key="MSMQPath_ExpressCenterCanNotExecute_1_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\ExpressCenterCanNotExecut_1" />
    <add key="MSMQPath_ExpressCenterCanNotExecute_2_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\ExpressCenterCanNotExecut_2" />
    <!--淘宝下单Worker分发消息总线-->
    <add key="MSMQPath_TaoBaoDownloadOrderTransferMessage_1_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\TaoBaoDownloadOrderTransferMessage_1" />
    <add key="MSMQPath_TaoBaoDownloadOrderTransferMessage_2_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\TaoBaoDownloadOrderTransferMessage_2" />
    <add key="MSMQPath_TaoBaoDownloadOrderUpdateMessage_1_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\TaoBaoDownloadOrderUpdateMessage_1" />
    <add key="MSMQPath_TaoBaoDownloadOrderUpdateMessage_2_On100" value="FormatName:DIRECT=TCP:192.168.5.100\Private$\TaoBaoDownloadOrderUpdateMessage_2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="234ConnectionString" connectionString="Data Source=192.168.5.109;Initial Catalog=TaoBao;User ID=it_erp;password=erp34322t;" />
    <add name="238ConnectionString" connectionString="Data Source=192.168.5.19\dev2;Initial Catalog=CallCentre;User ID=sa;password=!@#123qwe;" />
    <add name="249ConnectionString" connectionString="Data Source=192.168.5.19\dev2;Initial Catalog=TaoBao;User ID=sa;password=!@#123qwe;" />
    <add name="TaskPlatformDBConnectionString" connectionString="Data Source=192.168.5.109;Initial Catalog=TaskPlatform;User ID=it_erp;password=erp34322t;" />
    <add name="MySQLConnectionString" connectionString="Data Source=127.0.0.1;DataBase=Test;User ID=sa;password=wang.xudan@etaostars.com;" />
  </connectionStrings>
  <applicationSettings>
    <TaskPlatform.Properties.Settings>
      <setting name="TaskPlatform_CRMSMSService_SmsSenderImplService" serializeAs="String">
        <value>http://223.5.20.204:9080/sms_webservice/receiver</value>
      </setting>
    </TaskPlatform.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>