@using Webdiyer.WebControls.Mvc;
@using ETS.Util
@model  ETS.Data.PageData.PageInfo<Ets.Model.DomainModel.Statistics.ActiveUserInfo>
    @{
        ViewBag.Title = "活跃用户统计";
        Layout = "~/Views/Shared/_LayoutNew.cshtml";
    }
                                      <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
                                      <script src="~/Scripts/jquery-1.8.2.js"></script>
                                      <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
                                      <script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
    <script src="~/Scripts/mvcpager.js"></script>
    <div class="zpManage zpSh">
        <h2 class="crumbs">
            您所在位置：数据统计 > 活跃用户统计
        </h2>

        <h4 style="color:black;font-weight:600">活跃用户统计</h4>
        @using (Ajax.BeginForm("PostActiveUserAnalyze", new RouteValueDictionary { { "pageindex", "" } },
new AjaxOptions { UpdateTargetId = "dataList", InsertionMode = InsertionMode.Replace },
new RouteValueDictionary { { "id", "searchForm" } }))
        {
            <div class="SearchMd">
                <table border="0" cellspacing="0" cellpadding="0" style="width:1080px">
                    <tr>
                        <td>
                            <span class="">日期: </span>
                            <input id="StartDate" readonly="readonly" type="text" name="StartDate" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")" />
                            <span class="">到: </span>
                            <input id="EndDate" readonly="readonly" type="text" name="EndDate" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")" />
                            <span>用户类型: </span>
                            <select name="UserType" id="UserType">
                                <option value="0">骑士</option>
                                <option value="1">商家</option>
                            </select>
                            <select name="InfoType" id="InfoType">
                                <option value="0">注册手机</option>
                                <option value="1">用户名称</option>
                            </select>
                            <input id="UserInfo" type="text" name="UserInfo" value="" />
                            <input type="submit" value="查询" class="searchBtn" id="btnSearch" />
                        </td>
                    </tr>
                </table>
            </div>
        }

        <div class="bd clearfix" id="dataList">
            @Html.Partial("_PartialActiveUserList", Model)
        </div>

    </div>
    <script>
        $(document).ready(function () {
            $('#StartDate').datepicker();
            $('#EndDate').datepicker();
            $('#btnSearch').click(function () {
                if (!CheckDate()) {
                    {
                        alert('开始日期不能大于结束日期');
                        return false;
                    }
                    return true;
                }
            });
        });
        function CheckDate() {
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var intStartDate = StartDate.replace(/-/g, "");
            var intEndDate = EndDate.replace(/-/g, "");
            if (intStartDate > intEndDate) {
                return false;
            }
            return true;
        }
    </script>

