<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <authorities>
    <authority isDefaultAuthority="true" authorityType="1" name="订单管理-查看" key="OrderView"  />
    <authority isDefaultAuthority="true" authorityType="1" name="超人管理-查看" key="SupperView"  />
    <authority isDefaultAuthority="true" authorityType="1" name="超人管理-审核" key="SuperAudit"  />
    <authority isDefaultAuthority="true" authorityType="1" name="超人管理-清除余额" key="SuperClear"  />
    <authority isDefaultAuthority="true" authorityType="1" name="商户设置-查看" key="BusiView"  />
    <authority isDefaultAuthority="true" authorityType="1" name="商户设置-审核" key="BusiAudit"  />
    <authority isDefaultAuthority="true" authorityType="1" name="补贴设置-设置" key="BusSet"  />
    <authority isDefaultAuthority="true" authorityType="1" name="商户结算设置-查看" key="BusiCommi"  /> 
  </authorities>
</configuration>
 