<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enumTypes" type="WebExpress.Core.EnumSettingSection, WebExpress.Core" />
  </configSections>
  <enumTypes>
    <enum name="AuctionTypes" type="Art.Data.Common.TradeType, Art.Data.Common" >
    </enum>
    <enum name="Genders" type="Art.Data.Common.Genders, Art.Data.Common" />
    <enum name="DimensionType" type="Art.Data.Common.DimensionType, Art.Data.Common" />
  </enumTypes>
</configuration>
