.container-fluid {
    padding:0;
}
[validate-rule*=requi] .control-label:before {
    content: '* ';
    color: red;
}

.red{
    color:red;
}

.control-label:after {
    content: ' : ';
}

.hd {
    background: none repeat scroll 0 0 #11b446;
}

    .hd .logo {
        height: 60px;
        width: 102px;
        background: url('/content/i/logo.png') no-repeat center center #11b446;
        float: left;
    }

    .hd .loginInfo {
        float: right;
        margin-right: 15px;color: #fff;
        height: 40px;
        padding-top: 20px;
        width: 280px;
        text-align: right;
        font-family: 'Î¢ÈíÑÅºÚ';
        padding-right:2%;
    }

        .hd .loginInfo p {
            text-align: right;
            width: 100%;
            margin-top: 5px;
            font-family: 'Î¢ÈíÑÅºÚ';
        }

        .hd .loginInfo a {
            color: #fff;
        }

            .hd .loginInfo a.importMsg {
                color: #e5e5e5;
                text-decoration: underline;
            }

            .hd .loginInfo a:hover {
                text-decoration: underline;
            }

        .hd .loginInfo .line {
            margin: 0 5px;
        }

    .hd .toptitle {
        float: left;
        width: 400px;
        height: 60px;
        font-size: 24px;
        color: #fff;
        line-height: 58px;
        padding-left: 81px;
        font-family: 'Î¢ÈíÑÅºÚ', "microsoft yahei", Helvetica, Arial, Verdana, Geneva, sans-serif;
    }

.t-refresh, .t-arrow-first, .t-arrow-prev, .t-arrow-next, .t-arrow-last, .t-arrow-first-gray, .t-arrow-prev-gray, .t-arrow-next-gray, .t-arrow-last-gray {
    background: url("/content/i/sprite-icon.png") no-repeat;
}

.grid-pager {
    width: 100%;
    margin-top: 10px;
}

    .grid-pager .refresh, .grid-pager .t-pager, .grid-pager .t-status-text {
        float: right;
    }

.t-refresh {
    background-position: -73px -17px;
    display: block;
    font-size: 0;
    height: 19px;
    line-height: 0;
    overflow: hidden;
    text-align: center;
    text-indent: -3333px;
    vertical-align: middle;
    width: 19px;
    margin-right: 15px;
}

.t-arrow-first, .t-arrow-prev, .t-arrow-next, .t-arrow-last, .t-arrow-first-gray, .t-arrow-prev-gray, .t-arrow-next-gray, .t-arrow-last-gray {
    display: inline-block;
    font-size: 0;
    height: 16px;
    line-height: 0;
    overflow: hidden;
    text-align: center;
    text-indent: -3333px;
    vertical-align: middle;
    width: 16px;
}

.t-arrow-first {
    background-position: 0 -29px;
}

.t-arrow-prev {
    background-position: -15px -29px;
}

.t-arrow-next {
    background-position: -25px -29px;
}

.t-arrow-last {
    background-position: -43px -29px;
}

.t-arrow-first-gray {
    background-position: 0 -13px;
}

.t-arrow-prev-gray {
    background-position: -15px -13px;
}

.t-arrow-next-gray {
    background-position: -25px -13px;
}

.t-arrow-last-gray {
    background-position: -43px -13px;
}

.t-numeric {
    display: inline-block;
}

.t-pager .t-link {
    border-width: 0;
    line-height: 16px;
    padding: 1px;
    text-decoration: none;
}

.t-numeric .t-link, .t-numeric .t-state-active {
    line-height: 22px;
    margin-top: 0;
    padding: 0 5px;
    vertical-align: top;
}

.t-state-disabled {
    cursor: default;
}

.t-state-active {
    border: 1px solid #ddd;
    border-radius: 3px;
}

.grid-pager .num {
    font-weight: bold;
    color: #11b446;
    border: 1px solid #fff;
}

    .grid-pager .num:hover {
        border: 1px solid #a7bac5;
        border-radius: 3px;
        background: #e6e6e6;
        cursor: pointer;
    }

.grid-pager .t-status-text {
    font-size: 12px;
    padding-top: 1px;
}


.sidebar {
    float: left;
    width: 189px;
}

.page-content {
    padding: 8px 20px 24px;
    float:left; 
    width:100%;
}

.main-content {
    margin-left: 190px;
}

.btn[role=search] {
    width: 100px;
}

.pb20 {
    padding-bottom: 20px;
}

.search-result-table table th {
    text-align: center;
}

.search-result-table table tbody tr td {
    vertical-align: middle;
}

.maxw100 {
    max-width: 100px;
}

.maxw200 {
    max-width: 200px;
}

.maxw300 {
    max-width: 300px;
}


.minw200 {
    min-width: 200px;
}


.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.w200 {
    width: 200px;
}



/***********************************/
.sidebar .homeicon,
.sidebar .pdicon,
.sidebar .szicon {
    background: url(/content/i/icon.png) no-repeat;
}


.sidebar li i {
    width: 22px;
    height: 22px;
    display: inline-block;
    position:relative;
    top: 6px; 
}

.sidebar .homeicon {
    background: url(/content/i/MenuIcons/home.png) no-repeat;
} 
.sidebar .maintenanceicon {
    background: url(/content/i/MenuIcons/maintenance.png) no-repeat;
}
.sidebar .customericon {
    background: url(/content/i/MenuIcons/custoemr.png) no-repeat;
}

.sidebar .ordericon {
    background: url(/content/i/MenuIcons/order.png) no-repeat;
}

.sidebar .settingsicon {
    background: url(/content/i/MenuIcons/settings.png) no-repeat;
}

.sidebar .shopicon {
    background: url(/content/i/MenuIcons/shop.png) no-repeat;
}

.sidebar .skuicon {
    background: url(/content/i/MenuIcons/sku.png) no-repeat;
}
