/*body {  
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}*/

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}




/* BootStrap 样式部分自定义修改
----------------------------------------------------------*/
.control-label {
    width:120px;
    margin-right:10px;
    float:left;
    font-size:14px;
    font-weight:normal;
}
.control-label-newline {
    margin-left:130px;
}
    .control-group .controls {
        padding-top:7px;
        font-size:14px;
    }
        .control-group .controls span.required {
            color:#d9534f;
            padding:0 5px;
        }
.add-openbox h2 {
margin:0px;
}
.form-horizontal {
    font-size:14px !important;
}
 .control-group .controls .input-time-group {
    width:110px;float:left;
}
.control-group .controls span.left {
    float:left;line-height:34px;
}

/*.control-group .controls label.radio {
    float:left;
}*/


/* 后台自定义一些样式
-----------------------------------------------*/
.input-commission {
    width:120px;
}

.supplier-opentime {

}
.supplier-opentime-line {
    clear:left;
}