@model SuperManCommonModel.Models.SettlementManageList
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>

        <tr class="tdbg"> 
            <th>商户名称</th>
            <th>订单金额</th>
            <th>订单数量</th>
            <th>结算比例</th>
            <th>开始时间</th>
            <th>结束时间</th> 
            <th>结算金额</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>

</table>
 
