@*@model SuperManCommonModel.Models.SubsidyManage*@
@model Ets.Model.DomainModel.Subsidy.SubsidyManage
@using SuperManBusinessLogic.Group_Logic
@*@using SuperManCommonModel.Models;*@
@using Ets.Model
@{
    ViewBag.Title = "Order";
   Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：补贴设置
    </h2>
    <div class="SearchMd">
        <form id="subsidyForm" border="0" cellspacing="0" cellpadding="0">
            <div>
                @if (ViewBag.txtGroupId > 0)
                {
                    <input type="hidden" id="AddGroupId" value="@ViewBag.txtGroupId" />
                }
                else
                {
                    <dl>
                        <dt>
                            <i> </i>&nbsp;&nbsp;集团信息:
                            @Html.DropDownList("AddGroupId", new SelectList(GroupLogic.groupLogic().GetGroups(), "Id", "GroupName"), "--无--", new { style = "width:155px" })
                        </dt>
                    </dl>
                }
                <dl>
                    <dt><i>* </i>订单佣金(%): <input id="txtOrderCommission" name="txtOrderCommission" type="text" />
                    <text id="labOrderCommission" style="color:red" hidden="hidden">不能为空</text>
                    </dt>
                </dl>
            </div>
            <div>
                <dl>
                    <dt><i>* </i>网站补贴: <input id="txtWebsiteSubsidy" name="txtWebsiteSubsidy" type="text" /><text id="labWebsiteSubsidy" style="color:red" hidden="hidden">不能为空</text></dt>
                </dl>
            </div>
            <div>
                <dl>
                    <dt class="">&nbsp;&nbsp;有效时间: <input id="selectDateStart" name="selectDateStart" readonly="readonly" type="text" /><text id="labDateStart" style="color:red" hidden="hidden">不能为空</text> 至: <input id="selectDateEnd" name="selectDateEnd" readonly="readonly" type="text" /><text id="labDateEnd" style="color:red" hidden="hidden">不能为空</text></dt>
                </dl>
            </div>
            <div>
                <dl>
                    <dd>
                        <input type="button" value="保存" class="searchBtn" id="btnSave" />
                    </dd>
                </dl>
            </div>
        </form>
    </div>
</div>
<div class="bd clearfix" id="dataList">
    @Html.Partial("_SubsidyManagerList", Model.subsidyManageList)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#selectDateStart').datepicker();
        $('#selectDateEnd').datepicker();

        $('#subsidyForm').validate({
            rules: {
                txtOrderCommission: "required",
                //txtDistribSubsidy: "required",
                txtWebsiteSubsidy: "required",
                selectDateStart: "required",
                selectDateEnd: "required",
            },
            messages: {
            txtOrderCommission: "不能为空",
            //txtDistribSubsidy: "不能为空",
            }
        });
    });
    $("#btnSave").click(function () {
        var OrderCommission = $('#txtOrderCommission').val();
        //var DistribSubsidy = $('#txtDistribSubsidy').val();
        var WebsiteSubsidy = $('#txtWebsiteSubsidy').val();
        var startDate = $('#selectDateStart').val();
        var endDate = $('#selectDateEnd').val();
        var groupId = $('#AddGroupId').val();
        if (OrderCommission == "" || OrderCommission == null) {
            $('#labOrderCommission').show();
            return false;
        }
        //if (DistribSubsidy == "" || DistribSubsidy == null) {
        //    $('#labDistribSubsidy').show();
        //    return false;
        //}
        if (WebsiteSubsidy == "" || WebsiteSubsidy == null) {
            $('#labWebsiteSubsidy').show();
            return false;
        }
        if (startDate == "" || startDate == null) {
            $('#labDateStart').show();
            return false;
        }
        if (endDate == "" || endDate == null) {
            $('#labDateEnd').show();
            return false;
        }
        if (endDate < startDate) {
            alert("开始日期不能大于结束日期");
            return false;
        }
        var paramaters = {
            "OrderCommission": OrderCommission, "WebsiteSubsidy": WebsiteSubsidy, "StartDate": startDate, "EndDate": endDate
        ,"groupId":groupId};

        var url = "/SubsidyManager/Save";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    alert("添加成功");
                    window.location.href = "/SubsidyManager/SubsidyManager";
                } else {
                    alert(result.Message);
                }
            }
        });
    });
    $('#txtOrderCommission').keyup(function () {
        $('#txtOrderCommission').val().replace(/[^\d.]/g, '');
        $('#labOrderCommission').hide();
    });
    //$('#txtDistribSubsidy').keyup(function () {
    //    $('#labDistribSubsidy').hide();
    //});
    $('#txtWebsiteSubsidy').keyup(function () {
        $('#labWebsiteSubsidy').hide();
    });
    $('#selectDateStart').keyup(function () {
        $('#labDateStart').hide();
    });
    $('#selectDateEnd').keyup(function () {
        $('#labDateEnd').hide();
    });
    ////分页
    var DEFAULT_PAGESIZE = 15;
    var criteria = { PagingRequest: { PageIndex: 1, PageSize: DEFAULT_PAGESIZE } };
    art.ui.control.NewPager.enablePaging(document, refresh);
    function refresh(pageIndex) {
        var url = "/SubsidyManager/SubsidyManager";
        if (pageIndex !== undefined) {
            criteria.PagingRequest.PageIndex = pageIndex;
        }
        webExpress.utility.ajax.request
            (
                url,
                criteria,
                function (data) {
                    $("#dataList").html(data);
                });
    };

</script>