   
<link rel="stylesheet" href="~/css/eds.css" />
		<div id="eds">
			<!-- 头部模块start -->
	    	<div id="hd">
	    		<div class="header">
	    			<a href="#" class="logo">logo</a>
	    			<ul class="nav">
                        <li>@Html.ActionLink("首页", "Index", "Home")</li>
                        <li>@Html.ActionLink("商户版", "Business", "Home")</li>
                        <li>@Html.ActionLink("骑士版", "Clienter", "Home")</li>
                        <li>@Html.ActionLink("关于Ｅ代送", "About", "Home")</li>
	    			</ul>
	    		</div>
	    	</div>
			<!-- 头部模块end -->
			<div id="bd">
				<div id="bd-inner">
				<div class="index_cent">
					<div class="cent_gy">
						<p><strong>E代送</strong>隶属于易代送网络科技（北京）有限公司，基于共享经济模式，利用移动互联网LBS定位技术而搭建的同城即时短途配送服务平台。它将物流需求发起与骑士抢单响应的信息共享于手机终端，便捷地服务于平台商户和快送骑士，使供需双方的信息实现自主匹配，从而提高个人时间应用效率，创造巨大社会价值。</p>
						<p>“解决商家的配送难题，使社会运力发挥最大效率”是E代送诞生的原因及存在的意义。</p>
						<p>2015年3月E代送正式上线，并迅速席卷华北、华中、华南、东北等多地，短短3个月时间，已开通北京、上海、广州、深圳等70余城市，不同的地域，不同的起点，不同的年龄，不同的职业，穿梭于商户和用户之间，为每一分每一秒而冲刺。</p>
						<p>E代送是由一群朝气蓬勃的80、90后年轻人组成的创新团队，果断、缜密、激情在这里融合，形成了独有的文化氛围——我们都是和时间赛跑的孩子！</p>
						<dl><img src="~/img/btn.png" /></dl>
					</div>	
				</div>
				</div>
			</div>
			<!-- 底部模块start -->
			<div id="ft">
				<div class="footer">
					<div class="phone"><i class="i-phone"></i>客服热线：4006-380-177</div>
					<div class="copyright"><p>京ICP备15014116号-1 Copyright©2011-2015</p>
					<p>易代送网络科技（北京）有限公司,All rights reserved.</p></div>
				</div>
			</div>
			<!-- 底部模块end -->
		</div>
