<link rel="stylesheet" href="~/css/eds.css" />

<div id="eds">
				<!-- 头部模块start -->
		    	<div id="hd">
		    		<div class="header">
                        <a href="#" class="logo">logo</a>
		    			<ul class="nav">
                            <li>@Html.ActionLink("首页", "Index", "Home")</li>
                            <li>@Html.ActionLink("商户版", "Business", "Home")</li>
                            <li>@Html.ActionLink("骑士版", "Clienter", "Home")</li>
                            <li>@Html.ActionLink("关于Ｅ代送", "About", "Home")</li>
		    			</ul>
		    		</div>
		    	</div>
				<!-- 头部模块end -->
				<div id="bd">
					<div id="bd-inner">
						<div class="index_one">
							<div class="one_cent">
								<p><img src="~/img/two_1.png"></p>
								<p class="one_down"><a href="http://admin.edaisong.com.cn/download/edsb"><img src="~/img/two_2.png"></a></p>
								<p><img src="~/img/two_3.png"></p>
							</div>	
						</div>
						<div class="index_two">
							<div class="two_cent">
								<div class="two_left">
								<p><img src="~/img/two_4.png" /></p>
							</div>
								<div class="two_right">
								<h3>Q&A</h3>
								<div class="right_one">
									<dl>
										<dt>1</dt>
									</dl>
									<dl>
										<p>E代送是怎么配送的？</p>
										<dd>E代送骑士会按照商户订单上要求送达时间，到商户地址取货，并迅速送</dd>
										<dd>达至收货人，中途无集散中转环节。</dd>
									</dl>
								</div>
								<div class="right_one">
									<dl>
										<dt>2</dt>
									</dl>
									<dl>
										<p>可以配送哪些东西？</p>
										<dd>餐饮、水果、日用品、文件、礼品、鲜花等均可配送。</dd>
									</dl>
								</div>
								<div class="right_one">
									<dl>
										<dt>3</dt>
									</dl>
									<dl>
										<p>可配送的范围是什么？</p>
										<dd>E代送平台专注于即时短途配送，凡发货地和收货地相距3公里内的均可</dd>
										<dd>配送。</dd>
									</dl>
								</div>
								<div class="right_one">
									<dl>
										<dt>4</dt>
									</dl>
									<dl>
										<p>配送费如何支付？</p>
										<dd>商户需在商家中心提前充值，发单后配送费将自动在余额中扣减。</dd>
									</dl>
								</div>
							</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<!-- 底部模块start -->
				<div id="ft">
					<div class="footer">
						<div class="phone"><i class="i-phone"></i>客服热线：4006-380-177</div>
						<div class="copyright"><p>京ICP备15014116号-1 Copyright©2011-2015</p>
						<p>易代送网络科技（北京）有限公司,All rights reserved.</p></div>
					</div>
				</div>
				<!-- 底部模块end -->
			</div>
