@{
    ViewBag.Title = "Home Page";
}
 <!--内容html开始-->
	<div class="index_center">
		<div class="center_wd1">
			<div class="wd1_left">
				<span><img src="~/Images/iphone_1.jpg" alt="e代送商家版"/></span>
			</div>
			<div class="wd1_right">
				<h3><img src="images/ed.png" /></h3>
				<p>商家版APP是一款供商家直接下订单的手机客户端，成功抢单的配送员会在20分钟内到达商家门店取货，并安全快速地送到消费者手上。</p>
				<p>e代送平台配送员会按照商家订单上要求送达时间，去商家取货，“直拿直送”送到收货人，无中转流程。</p>
				<div class="ewm">
					<div class="ewm_left"><img src="~/Images/ewm.png" alt="e代送商家版APP二维码"/><p>扫描二维码</p></div>
					<div class="ewm_right">
						<span><a href="http://admin.edaisong.com.cn/download/edsb" target="_blank">安卓客户端下载</a></span>
						<span><a class="ground" href="javascript:;">苹果客户端下载</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="xx"></div>
	<div class="index_center2">
		<div class="center_wd1">
			<div class="wd1_left">
				<span><img src="~/Images/iphone_2.jpg" alt="e代送配送版"/></span>
			</div>
			<div class="wd1_right">
				<h3><img src="images/red.png" /></h3>
				<p>下载e代送配送版手机应用，注册成为e代送平台配送员，就能通过手机应用看到你附近需要配送的订单，只要你平时有空闲时间，就可以抢单并按照订单要求，为商家配送货品赚钱。工作时间灵活自由。</p>
				<div class="ewm_2">
					<div class="ewm_left"><img src="~/Images/wem1.png" alt="e代送配送版APP二维码"/><p>扫描二维码</p></div>
					<div class="ewm_right2">
						<span><a href="http://admin.edaisong.com.cn/download/edsc" target="_blank">安卓客户端下载</a></span>
						<span><a class="ground" href="javascript:;">苹果客户端下载</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!--内容html结束-->