<link rel="stylesheet" href="~/css/eds.css" />

		<div id="demo">
			<!-- 头部模块start -->
	    	<div id="hd">
	    		<div class="header">
	    			<a href="#" class="logo">logo</a>
	    			<ul class="nav">	    					
                        <li>@Html.ActionLink("首页", "Index", "Home")</li>	
                        <li>@Html.ActionLink("商户版", "Business", "Home")</li>     
                        <li>@Html.ActionLink("骑士版", "Clienter", "Home")</li>
                        <li>@Html.ActionLink("关于Ｅ代送", "About", "Home")</li>
	    			</ul>
	    		</div>
	    	</div>
			<!-- 头部模块end -->
			<div id="bd">
				<div id="bd-inner">
					<div class="section1">
						<div class="slider swiper-container">
							<ul class="swiper-wrapper">
								<li class="s1 swiper-slide">
									<div class="img"><a href="#"></a><img src="~/img/s1.png" alt=""></div>
								</li>
								<li class="s2 swiper-slide">
									<div class="img"><a href="#"></a><img src="~/img/s2.png" alt=""></div>
								</li>			
							</ul>
							<div class="slider-bar"><a href="#" class="on">1</a><a href="#">2</a></div>
						</div>
					</div>
					<div class="section2">
                        <img src="~/img/s3.jpg" alt="">
					</div>
					<div class="section3">
                        <img src="~/img/s4.jpg" alt="">
						<div class="code">
							<ul>
								<li><h5>骑士端</h5><img src="~/img/code1.jpg" alt=""><p>做飞翔的骑士</p></li>
								<li><h5>商户端</h5><img src="~/img/code2.jpg" alt=""><p>您身边的翅膀</p></li>
							</ul>
							<div class="intro">
								<p>扫描二维码下载App</p>
								<p class="tips">(目前仅支持Android手机，iOS版敬请期待)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 底部模块start -->
			<div id="ft">
				<div class="footer">
					<div class="phone"><i class="i-phone"></i>客服热线：4006-380-177</div>
					<div class="copyright"><p>京ICP备15014116号-1 Copyright©2011-2015</p>
					<p>易代送网络科技（北京）有限公司,All rights reserved.</p></div>
				</div>
			</div>
			<!-- 底部模块end -->
		</div>
		<script src="~/js/jquery-1.11.3.min.js"></script>
		<script src="~/js/slidesjs.min.js"></script>
		<script type="text/javascript">
		$(".swiper-wrapper").slidesjs({
        	height: 570
	      });    
		</script>
