@model ETS.Data.PageData.PageInfo<Ets.Model.DataModel.Order.OrderListModel>
@using Ets.Model
@using Ets.Service.Provider.User
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：订单 > 订单管理
    </h2>
    @using (Ajax.BeginForm("PostOrder", new RouteValueDictionary { { "pageindex", "" } },
    new AjaxOptions { UpdateTargetId = "dataList", InsertionMode = InsertionMode.Replace },
    new RouteValueDictionary { { "id", "searchForm" } }))
    {
         <div class="SearchMd">
               <table border="0" cellspacing="0" cellpadding="0" style="width:1080px">
            <tr>
                <td>
                    <span class="">超人电话: </span>
                    <input id="txtSuperManPhone" type="tel" name="superManPhone" />
                    <span class="">超人姓名: </span>
                    <input id="txtSuperManName" type="text" width="90px" name="superManName" />
                    <span class="">商户电话: </span>
                    <input id="txtBusinessPhone" type="tel" name="businessPhone" />
                    <span class="">商户名称: </span>
                    <input id="txtBusinessName" type="text" name="businessName" />
                </td>
            </tr>
            <tr>
                <td>                
                    <span class="">订单状态: </span>
                    <select name="orderStatus" class="selectw" id="StatusSelect" style="width:157px">
                        <option value="-1">全部</option>
                        <option value="0">未接单</option>
                        <option value="1">已完成</option>
                        <option value="2">已接单</option>
                        <option value="3">已取消</option> 
                    </select> 
                    <span class="">发布时间: </span>
                    <input id="txtOrderPubStart" readonly="readonly" type="text" name="OrderPubStart" />
                    <span class="">到: </span>
                    <input id="txtOrderPubEnd" readonly="readonly" type="text" name="OrderPubEnd" />
                   @* <input id="txtGroupId" type="hidden" value="@ViewBag.txtGroupId" name="GroupId" />*@
                    <span class="">筛选城市: </span>
                    @Html.DropDownList("businessCity", new SelectList(ViewBag.openCityList.Result.AreaModels, "Name", "Name"), "--无--", new { style = "width:155px" })
                </td>
            </tr>
            <tr>
                <td>
                    <span class="">筛选集团: </span>
                    @Html.DropDownList("GroupId", new SelectList(new BusinessProvider().GetGroups() , "Id", "GroupName"), "--无--", new { @class = "selectw", style = "width:143px" })
                    <span class="">原订单号: </span>
                    <input id="txtOriginalOrderNo" type="text" name="OriginalOrderNo" /> 
                    <span class="">订单号: </span>
                    <input id="txtOrderNo" type="text" name="orderId" />
                    <input type="submit" value="查询"  class="searchBtn" id="btnSearch" />
                    <input type="button" value="订单数据导出" onclick="return DaoCHu()" class="searchBtn" id="btncDaochu" />
                </td>
            </tr>
        </table>
         </div>
    }
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <div class="bd clearfix" id="dataList">
        @Html.Partial("_PartialOrderList", Model)
    </div>
</div>

<script type="text/javascript">
    var adminjs = new adminglass(); //实例化后台类
    //var DEFAULT_PAGESIZE = 15;
    //var criteria = { PagingRequest: { PageIndex: 1, PageSize: DEFAULT_PAGESIZE }, GroupId: $("#txtGroupId").val() };
    $(document).ready(function () {        
        $('#txtOrderPubStart').datepicker();
        $('#txtOrderPubEnd').datepicker();
        window.location.hash = ''; 
    }); 
    function DaoCHu() { 
        var superManPhone = $("#txtSuperManPhone").val();
        var txtSuperManName = $("#txtSuperManName").val();
        var txtBusinessPhone = $("#txtBusinessPhone").val();
        var txtBusinessName = $("#txtBusinessName").val();
        var txtOrderPubStart = $("#txtOrderPubStart").val();
        var txtOrderPubEnd = $("#txtOrderPubEnd").val(); 
        var businessCity = $("#businessCity").find("option:selected").text();
        var orderStatus = $("#StatusSelect").find("option:selected").text();
        if (txtOrderPubStart == "" || txtOrderPubEnd == "") {
            alert("请输入时间范围!");
            return;
        }
        var url = "/Order/PostDaoChuOrder?superManPhone=" + superManPhone + "&superManName=" + txtSuperManName + "&businessPhone=" + txtBusinessPhone + "&businessName=" + txtBusinessName + "&orderStatus=" + orderStatus + "&businessCity=" + businessCity + "&OrderPubStart=" + txtOrderPubStart + "&OrderPubEnd=" + txtOrderPubEnd;
        window.location.href = url;
        return true;
    }
</script>
<script src="~/Scripts/mvcpager.js"></script>
