<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    //$(function () {
    //    $.ajax({
    //        type: 'POST',
    //        dataType: 'json',
    //        url: '/order/create',
    //        data: {
    //            "app_key": "fulltime",
    //            "timestamp": "2015-03-11 20:42:33",
    //            "v": "1.0",
    //            "sign": "8C59077F13F16FAD71A9E9D053CF215F",
    //            "fields": {
    //                "order_id": "434313111",
    //                "create_time": "2015-03-12 00:21:42",
    //                "receive_time": "2015-03-12 00:21:42",
    //                "is_pay": true,
    //                "payment":1,
    //                "total_price": 55,
    //                "address": {
    //                    "user_name": "张三",
    //                    "user_phone": "13612345678",
    //                    "province_code": "000000",
    //                    "city_code": "000000",
    //                    "area_code": "000000",
    //                    "province": "北京市",
    //                    "city": "北京市",
    //                    "area": "朝阳区",
    //                    "address": "建国路93号院万达广场4号楼27051",
    //                    "longitude": 11.11,
    //                    "latitude": 11.11
    //                },
    //                "store_info": {
    //                    "store_id": "4",
    //                    "store_name": "天下第一名厨大望路店",
    //                    "group": "3",
    //                    "id_card": "130212201503101234",
    //                    "phone": "010-12345678",
    //                    "phone2": "13612345678",
    //                    "province_code": "000000",
    //                    "city_code": "000000",
    //                    "area_code": "000000",
    //                    "province": "北京市",
    //                    "city": "北京市",
    //                    "area": "朝阳区",
    //                    "address": "建国路93号院万达广场4号楼2705",
    //                    "longitude": 11.11,
    //                    "latitude": 11.11,
    //                    "delivery_fee": 0,
    //                    "commission_type": "1"
    //                },
    //                "order_details": [
    //                    {
    //                        "detail_id": 1,
    //                        "product_name": "鱼香肉丝",
    //                        "unit_price": 15,
    //                        "quantity": 1
    //                    },
    //                    {
    //                        "detail_id": 2,
    //                        "product_name": "宫爆鸡丁",
    //                        "unit_price": 20,
    //                        "quantity": 2
    //                    }
    //                ],
    //                "remark": "快点，饿",
    //                "weight": 0,
    //                "delivery_fee": 0,
    //                "package_count": 1
    //            }
    //        },
    //        success: function (data) {
    //            console.log(data);
    //        },
    //        error: function () {

    //        }
    //    });
    //});

    //$(function () {
    //    $(function () {
    //        $.ajax({
    //            type: 'post',
    //            datatype: 'json',
    //            url: '/order/getstatus',
    //            data: {
    //                "app_key": "fulltime",
    //                "timestamp": "2015-03-11 20:42:33",
    //                "v": "1.0",
    //                "sign": "8C59077F13F16FAD71A9E9D053CF215F",
    //                "fields": {
    //                    "order_no": "434313111"
    //                }
    //            },
    //            success: function (data) {
    //                            console.log(data);
    //                        },
    //                        error: function () {

    //                        }
    //        })
    //    });
    //});

    //$(function () {
    //    $(function () {
    //        $.ajax({
    //            type: 'post',
    //            datatype: 'json',
    //            url: '/order/OrderDetail',
    //            data: {
    //                "app_key": "fulltime",
    //                "timestamp": "1428647650",
    //                "v": "1.0",
    //                "sign": "0C1C892C56FCA6BF14C426AC27EEF294",
    //                "fields": {
    //                    "order_no": "3"
    //                }
    //            },
    //            success: function (data) {
    //                            console.log(data);
    //                        },
    //                        error: function () {

    //                        }
    //        })
    //    });
    //});

    //$(function () {
    //    $(function () {
    //        $.ajax({
    //            type: 'post',
    //            datatype: 'json',
    //            url: '/order/AsyncStatus',
    //            data: {
    //                "app_key": "fulltime",
    //                "timestamp": "2015-03-11 20:42:33",
    //                "v": "1.0",
    //                "sign": "8C59077F13F16FAD71A9E9D053CF215F",
    //                "fields": {
    //                    "order_no": "3",
    //                    "status": 2,
    //                    "ClienterTrueName": "wangchao",
    //                    "ClienterPhoneNo": "18553501000",
    //                    "OriginalOrderNo": "103",
    //                }
    //            },
    //            success: function (data) {
    //                            console.log(data);
    //                        },
    //                        error: function () {

    //                        }
    //        })
    //    });
    //});
    
</script>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
