@{
    ViewBag.Title = "易代送";
} 
  <div class="container page1">
            <div class="inner">
                <h2><img src="~/Images/img1-1.jpg" alt=""></h2>
                <p class="title">e代送是基于移动互联网，提供同城即时配送服务的平台</p>
                <div class="img">
                    <a href="#" class="btn btn-red peisongban">配送版</a>
                    <a href="#" class="btn btn-blue shangjiaban">商家版</a>
                    <a href="http://m.juwangke.cn" class="btn btn-blue"  target="_blank" style="background: #fff;
color: #3b7abe;
font-size: 18px;
text-decoration: underline;
height:20px;
">免费开微店</a>     
                </div>
                <div class="opc">
                    <a href="#" class="gotop"><i class="i-gotop"></i></a>
                </div>
            </div>
        </div>
        <div class="container page2">
            <div class="inner">
                <h2><img src="~/Images/t2.jpg" alt=""></h2>
                <p class="img"><img src="~/Images/img2.jpg" alt="">
                </p>
                <div class="opc">
                    <p class="title">已有1万多家餐饮企业入驻</p>
                    <a href="http://admin.edaisong.com.cn/download/edsc" target="_blank" class="btn btn-red">马上下载配送版</a>
                    <a href="#" class="gotop"><i class="i-gotop"></i></a>
                </div>
            </div>
        </div>
        <div class="container page6">
            <div class="inner">
                <h2>“抢单”就是“抢钱”，你还等什么？</h2>
                <p>通过配送版app看到附近订单，抢单并按照订单要求，为商家送货赚钱，轻轻松松月入过万</p>
                <p class="img"><img src="~/Images/img6.jpg" alt=""></p>
                <div class="opc">
                    <a href="http://admin.edaisong.com.cn/download/edsc" target="_blank" class="btn btn-red">马上下载配送版</a>
                    <a href="#" class="gotop"><i class="i-gotop"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner">
                <h2>工作、抢单两不误</h2>
                <p>有正式工作,也可以利用空闲时间，通过e代送平台接单、配送，赚取额外收入</p>
                <p class="img"><img src="~/Images/img7.jpg" alt=""></p>
                <div class="opc">
                    <a href="http://admin.edaisong.com.cn/download/edsc" target="_blank" class="btn btn-red">马上下载配送版</a>
                    <a href="#" class="gotop"><i class="i-gotop"></i></a>
                </div>
            </div>
        </div>
        <div class="container page5">
            <div class="inner">
                <h2><img src="~/Images/t5.jpg" alt=""></h2>
                <p class="img"><img src="~/Images/img5.jpg" alt="">
                </p>
                <div class="opc">
                    <p class="title">2万多名骑士等待为您服务</p>
                    <a href="http://admin.edaisong.com.cn/download/edsb" target="_blank" class="btn btn-blue">马上下载商家版</a>
                    <a href="#" class="gotop"><i class="i-gotop"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner">
                <h2>一键呼叫配送员</h2>
                <p>下载e代送商家APP，简单填写收货信息，一键即可呼叫配送员</p>
                <p class="img"><img src="~/Images/img3.jpg" alt=""></p>
                <div class="opc">
                    <a href="http://admin.edaisong.com.cn/download/edsb" target="_blank" class="btn btn-blue">马上下载商家版</a>
                    <a href="#" class="gotop"><i class="i-gotop"></i></a>
                </div>
            </div>
        </div>
        <div class="container page7">
            <div class="inner">
                <h2>按时送达</h2>
                <p>配送员会按照商家订单上要求送达时间，去商家取货，“直拿直送”送到收货人</p>
                <p class="img"><img src="~/Images/img4.jpg" alt=""></p>
                <div class="opc">
                    <a href="http://admin.edaisong.com.cn/download/edsb" target="_blank" class="btn btn-blue">马上下载商家版</a>
                    <a href="#" class="gotop"><i class="i-gotop"></i></a>
                </div>
            </div>
        </div>