@{
    ViewBag.Title = "易代送";
} 
<div class="container page1">
    <div class="inner">
        <h2><img src="/Images/img1-1.png?v=3" alt="E代送-外卖配送服务" /></h2>
        <p class="title t1">
            <span>E代送是基于移动互联网，</span>
            <span>提供同城即时配送服务的平台</span>
        </p>
        <div class="img">
            <a href="#" class="btn btn-black peisongban">配送版</a>
            <a href="#" class="btn btn-deep shangjiaban">商家版</a>
            <a href="http://m.juwangke.cn" target="_blank" class="btn kaidian">免费开微店</a>
        </div>
        <div class="opc">
            <a href="#" class="gotop"><i class="i-gotop"></i></a>
        </div>
    </div>
</div>
<div class="container page2">
    <div class="inner">
        <h2 class="t2"><img src="/Images/t2.png?v=3" alt="E代送" /></h2>
        <p class="img">
            <img src="/Images/img2.jpg" alt="E代送配送版" />
        </p>
        <div class="opc new">
            <p class="title">做飞翔的骑士</p>
            <a href="http://admin.edaisong.com.cn/download/edsc" target="_blank" class="btn btn-black">马上下载配送版</a>
            <a href="#" class="gotop"><i class="i-gotop"></i></a>
        </div>
    </div>
</div>
<div class="container page5">
    <div class="inner">
        <h2 class="t5"><img src="/Images/t5.png?v=3" alt="E代送" /></h2>
        <p class="img">
            <img src="/Images/img5.jpg?v=3" alt="E代送商家版" />
        </p>
        <div class="opc new">
            <p class="title">找到您身边的翅膀</p>
            <a href="http://admin.edaisong.com.cn/download/edsb" target="_blank" class="btn btn-green">马上下载商家版</a>
            <a href="#" class="gotop"></a>
        </div>
    </div>
</div>