@{
    ViewBag.Title = "易代送";
} 
<div class="index_center">
    <h3>e代送商家版</h3>
    <p>商家版APP是一款供商家直接下订单的手机客户端，成功抢单的配送员会在20分钟内到达商家门店取货，并安全快速地送到消费者手上。易代送平台配送员会按照商家订单上要求送达时间，去商家取货，“直拿直送”送到收货人，无中转流程。</p>
    <p class="blue"><a class="d1" href="http://admin.edaisong.com.cn/download/edsb"><img src="~/Images/ad.png" /></a>
        <a class="d2" href="javascript:;"><img src="~/Images/ios.png" /></a></p>
    <h4>e代送配送版</h4>
    <p>下载e代送配送版手机应用，注册成为e代送平台配送员，就能通过手机应用看到你附近需要配送的订单，只要你平时有空闲时间，就可以抢单并按照订单要求，为商家配送货品赚钱。工作时间灵活自由。</p>
    <p class="blue2"><a class="d1" href="http://admin.edaisong.com.cn/download/edsc"><img src="~/Images/ad.png" /></a><a class="d2" href="javascript:;"><img src="~/Images/ios.png" /></a></p>
</div>