<div class="add-openbox add-form" id="AddDivShow" style="width:auto;">
    <div style="width:800px;height:auto;border: 1px #dcdcdc solid">
        <h2 class="crumbs">
            备用金充值
        </h2>
        <div style="width:798px;height:auto;padding-left:10px;border:1px #dcdcdc solid;border-left:hidden;border-right:hidden;border-top:hidden">
            <div style="width:780px;height:25px;">
                <div style="float: left">
                    <label>充值金额：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" name="Amount" id="_txtAmount" value="" />
                </div>
            </div>
            <div style="width:780px;height:25px;">
                <div style="float: left">
                    <label>备用金接收人：</label>
                    <input type="text" name="ImprestReceiver" id="_txtImprestReceiver" value="" />
                </div>
            </div>
            <div style="width:780px;height:100px;">
                <div style="float: left">
                    <label>备注：</label>
                    <textarea style="width:600px; height:90px;" name="Remark" id="_txtRemark"></textarea>
                </div>
            </div>
        </div>
    </div>

    <p class="btnbox">
        <input value="确认" type="button" id="btnSure" class="searchBtn" />
        <input value="取消" type="button" id="btnCanel" class="qxBtn" />
    </p>
</div>

<script type="text/javascript">

    $(function () {
        //点击备用金充值确认按钮    确验证
        $("#btnSure").click(function () {
            var amount = $("#_txtAmount").val();
            var imprestReceiver = $("#_txtImprestReceiver").val();
            var remark = $("#_txtRemark").val();
            $.ajax({
                type: 'POST',
                url: "/Imprest/AjaxImprestRecharge",
                data: { "amount": amount, "imprestReceiver": imprestReceiver, "remark": remark },
                success: function (data) {

                }
            });
        });
    });

</script>