
@{
    ViewBag.Title = "ImprestPaymentList";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>


    <h2 class="crumbs">
        您所在位置：财务管理 > 备用金支出
    </h2>
    