<div class="add-openbox add-form" id="AddDivShow" style="width:auto;">
    <div style="width:800px;height:auto;border: 1px #dcdcdc solid">
        <h2 class="crumbs">
            备用金充值
        </h2>
        <div style="width:798px;height:auto;padding-left:10px;border:1px #dcdcdc solid;border-left:hidden;border-right:hidden;border-top:hidden">
            <div style="width:780px;height:25px;">
                <div style="float: left">
                    <label>充值金额：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" name="" id="" value="" />
                </div>
            </div>
            <div style="width:780px;height:25px;">
                <div style="float: left">
                    <label>备用金接收人：</label>
                    <input type="text" name="" id="" value="" />
                </div>
            </div>
            <div style="width:780px;height:100px;">
                <div style="float: left">
                    <label>备注：</label>
                    <textarea style="width:600px; height:90px;"></textarea>
                </div>
            </div>
        </div>
    </div>

    <p class="btnbox">
        <input value="关闭" type="button" id="btnCanel" class="qxBtn" />
    </p>
</div>