<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CommonServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
      
        <client>
            <endpoint address="http://bsp-oisp.sf-express.com/bsp-oisp/ws/expressService"
                binding="basicHttpBinding" bindingConfiguration="CommonServiceServiceSoapBinding"
                contract="ShunFengGetPack.IService" name="CommonServicePort" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="1-北京仓" value="酒仙网_北京仓;0103710583"/>
    <add key="2-广州仓" value="酒仙网_广州仓;0208558629"/>
    <add key="3-上海仓" value="酒仙网_上海仓;0211931209"/>
    <add key="4-武汉仓" value="酒仙网_武汉仓;0274138713"/>
    <add key="5-天津仓" value="酒仙网_华北仓;0223728269"/>
  </appSettings>

</configuration>