<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SmsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sms.ygkj.com/Sms.asmx" binding="basicHttpBinding"
                bindingConfiguration="SmsSoap" contract="SMSServiceReference.SmsSoap"
                name="SmsSoap" />
        </client>
    </system.serviceModel>
</configuration>